.title-bg {
	padding-bottom: 25px;
	background: url('../img/title-bg.png') left bottom no-repeat;
	color: #fff;
}

.title-sm {
	padding-bottom: 18px;
	background: url('../img/title-sm.png') left bottom no-repeat;
	color: #fff;
}

h3.text {
	position: relative;
	font-size: 32px;
	line-height: 32px;
	color: #fff;

	small {
		position: absolute;
		margin: 0 0 0 12px;
		padding: 0 0 0 12px;
		line-height: 16px;
		border-left: 1px solid #45474c;
		color: rgba(255, 255, 255, 0.4);
		font-size: 14px;

		&:before {
			content: '';
			position: absolute;
    		left: -4px;
   			top: 41%;
			width: 8px;
			height: 8px;
			background: url('../img/dot-ico.png') center no-repeat;
		}
	}
}

.btn.btn-default {
	position: relative;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	margin: 10px 0;
	padding: 0 8px;
	background: #bdab7b;
	border: 0;
	color: #22292f;
	.transition(all, .4s);
	.rounded(0);
	outline: none;

	&:hover {
		background: #a7976d;
	}

	&.arrow {
		padding-right: 58px;

		&:after {
			content: '>';
			position: absolute;
			right: 12px;
		}
	}
}

.dropdown-btn {
	position: relative;

	.btn {
		&.dropdown-toggle {
			height: auto;
			line-height: 25px;
			margin: 0;
			padding-right: 40px;
			background: #404347 url('../img/dropdown-arrow.png') center right no-repeat;
			border: 2px solid #2f3237;
			.regular();
			color: rgba(255, 255, 255, .51);
			outline: none;

			&:hover, &:focus {
				border: 2px solid #2f3237;
				background: #56595e url('../img/dropdown-arrow.png') center right no-repeat;
				color: rgba(255, 255, 255, .51);
			}
		}
	}

	.dropdown-menu {
		margin: 0;
		padding: 0;
		min-width: 137.97px;
		border: 2px solid #2f3237;
		border-top: 0;
		background: #2c2f34;
		.rounded(0);

		a {
			color: rgba(255, 255, 255, .51);

			&:hover {
				background: #32353a;color: rgba(255, 255, 255, .51);
			}
		}
	}
}

.form-block {
	.col-md-9 {
		padding-right: 0;
	}

	.form-group {
		label {
			font-weight: normal;
			.regular();
			font-size: 15px;

			&.checkbox {
				padding-left: 20px;
			}
		}

		.dropdown-btn, .dropdown-menu {
			width: 100%;
			.btn {
				&.dropdown-toggle {
					width: 100%;
					text-align: left;
				}
			}
		}

		input[type="text"],
		input[type="email"],
		input[type="password"],
		select,
		textarea {
			.rounded(0);
			outline: none;

			&:active, &:focus {
				box-shadow: none;
				-o-box-shadow: none;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
			}
		}

		input[type="submit"] {
			width: 100%;
		}
	}
}

.radio-list {
	label {
		position: relative;

		input[type=radio] {
			display: none;
		}

		&:before {
			content: '';
			position: absolute;
			top: 5px;
			left: 0;
			width: 11px;
			height: 11px;
			background: url('../img/radio-ico.png') 0 0 no-repeat;
		}

		&:hover, &.active {
			&:before {
				background-position: 0 -11px;
			}
		}
	}
}

.cart-buttons a.btn {
	@media (max-width: 991px) {
	  	display: block;
	  	padding: 18px 5px;
		height: auto;
		line-height: normal;
	  	font-size: 16px;
	}
}

table {
	&.table {
		background: #2a2d32;
		color: #fff;
		font-size: 26.41px;
		text-align: center;

		> thead {
			background: #35383d;

			tr {
				th {
					padding: 0;
					border: 0;
					//border-bottom: 1px solid #26292e;
					border-bottom: 1px solid #4c4e52;
					line-height: 60px;
					font-weight: normal;
					font-size: 20.54px;
					text-align: center;
					vertical-align: middle;


					&:first-child {
						-webkit-border-top-left-radius: 5px;
						-moz-border-radius-topleft: 5px;
						border-top-left-radius: 5px;
					}

					&.last {
						@media (min-width: 992px) {
							-webkit-border-top-right-radius: 5px;
							-moz-border-radius-topright: 5px;
							border-top-right-radius: 5px;
						}
					}

					&:last-child {
						-webkit-border-top-right-radius: 5px;
						-moz-border-radius-topright: 5px;
						border-top-right-radius: 5px;
					}
				}
			}
		}

		> tbody {
			tr {
				td {
					padding: 10px 5px;
					border: 0;
					line-height: normal;
					border-left: 1px solid #4c4e52;
					border-bottom: 1px solid #4c4e52;
					vertical-align: middle;

					&.last {
					  	@media (min-width: 992px) {
						  	border-right: 1px solid #4c4e52;
						}
					}

					&:last-child {
						border-right: 1px solid #4c4e52;
					}
				}
			}
		}
	}

	&.small {
		background: none;
		text-align: left;

		> thead {
			background: #d6be7e;

			tr {
				th {
					padding: 0 5px;
					.regular();
					line-height: 25px;
					font-size: 18px;
					color: #222427;
					text-align: left;

					&:first-child, &:last-child {
						.rounded(0);
					}
				}
			}
		}

		> tbody {
			tr {
				td {
					padding: 5px;
					border-right: 0;
					font-size: 14px;
				}
			}
		}
	}

    &.medium {
        background: none;
        text-align: left;

        > thead {
            background: #d6be7e;

            tr {
                th {
                    padding: 12px 10px;
                    .regular();
                    line-height: 25px;
                    font-size: 18px;
                    color: #222427;
                    text-align: left;

                    &:first-child, &:last-child {
                      .rounded(0);
                    }

                    &.text-center {
                        text-align: center;
                    }
                }
            }
        }

        > tbody {
            tr {
                td {
                    padding: 14px 10px;
                    border-right: 0;
                    font-size: 16px;

                    &.text-center {
                        text-align: center;
                    }
                }
            }
        }
    }

	&.month {
		background: none;

		tbody {
			tr {
				td {
					.transition(all, .4s);

				  	&.has_content {
					  	background: rgba(255, 255, 255, 0.12);
					  	padding: 0 5px;

						a {
							padding: 10px 0;
							display: block;
						  	color: #ffffff;
						}

						&:hover {
							color: #26292e;
							background: #aa9969;
							cursor: pointer;

							a {
								  color: #26292e;
							}
						}
					}

					&.active {
						color: #26292e;
						background: #aa9969;

						a {
							color: #26292e;
						}
					}
				}
			}
		}
	}

	&.session-time, &.memberships, &.cart {
		margin: 95px 0 0 0;
		text-align: left;

		thead {
			tr {
				th {
					padding-left: 30px;
					text-align: left;
				}
			}
		}

		tbody {
			tr {
				td {
					padding-left: 30px;
					border-right: 0;
					font-size: 17.54px;

					&:last-child {
						padding: 0;

						a, button {
							display: block;
							padding: 12px 5px;
							background: #aa9969;
							color: #26292e;
							text-align: center;
							text-transform: uppercase;
							.transition(all, 0.4s);

							&:hover {
								text-decoration: none;
								background: #d2b45e;
							}

							&.inactive {
								color: rgba(38, 41, 46, .25);
								pointer-events: none;
   								cursor: default;
							}

							span {
								display: block;
								font-size: 17.61px;
								color: rgba(38, 41, 46, .58);
								text-transform: none;
							}
						}
					}
				}
			}
		}

		@media screen {
			@media (max-width: 992px) {
				background: none;

				thead {
					display: none;
				}

				tbody {
					tr {
						&:nth-child(2n+0) {
							background: #323538;
						}

						td {
							position: relative;
							float: none;
						    display: block;
						    width: 100% !important;
						    padding: 10px 20px;
						    border: 0;
						    border-bottom: 1px solid #4c4e52;
						    font-size: 16px;
						    text-align: right;

							&.dropdown {
								.form-group {
									width: 50%;
								  	float: right;
								}
							}

						    &.register, &.add-to-cart {
						    	border-bottom: 15px solid #26292e !important;
						    }

						    @media (max-width: 370px) {
							 	text-align: left;

							 	&:nth-child(3) {
							 		border: 0;
							 	}

								&.dropdown {
									.form-group {
										width: 100%;
										float: none;
									}
								}
							 }

						    &:last-child {
						    	border: 0;
						    }

							&:before {
							    content: attr(data-title);
							    float: left;
							    width: 30%;
    							text-align: left;
							 	.rmedium();
							 	color: #808182;

							 	@media (max-width: 370px) {
							 		float: none;
							 		display: block;
							 		width: 100%;
							 		margin: 0 0 8px 0;
							 	}
							}

							&:after {
								content: '';
								display: block;
								width: 100%;
								clear: both;
							}
						}
					}
				}
			}
		}
	}

  	&.memberships {
	  	margin-top: 0;

		tbody {
			tr {
				td {
					padding-left: 30px;
					border-right: 0;
					font-size: 17.54px;

					@media (min-width: 993px) {
						&:not(:first-child) {
						  	padding-left: 5px;
						}

						&.dropdown {
						  	max-width: 400px;
						  	padding: 10px;
						}
					}

				  	&.dropdown {
					  	.form-group {
						  	margin-bottom: 0;
						}
					}

					&:last-child {
					  	padding: 0;
					  	width: 100px;

						button {
							margin: 0;
							width: 100%;
						  	height: auto;
						  	padding: 15px 5px;

						  	span {
							  	font-size: 24px;
							}
						}
					}
				}
			}
		}
	}

	&.cart {
	  	margin-top: 0;

		tbody {
			tr {
				td {
					&.delete {
						width: 56px;
					  	padding-left: 5px;

						@media (max-width: 991px) {
						  	padding-left: 0;
						  	border-bottom: 15px solid #26292e !important;
						}

						button {
							margin: 0;
							padding: 0 11px;
							height: auto;

						  	@media (max-width: 991px) {
							  	width: 100%;
							  	padding: 12px 5px;
							  	font-size: 16px;
							}

							span {
							  	color: inherit !important;

								@media (max-width: 991px) {
									display: inline-block;
									vertical-align: top;
									margin-top: 9px;
								}
							}
						}
					}

				  	&.empty {
					  	padding: 10px 5px 10px 30px;
					}

				  	&:before {
						@media (max-width: 991px) {
							width: 50%;
						}
					}
				}

			  	&.total {
				  	td {
						&:last-child {
							@media (max-width: 991px) {
							  padding: 10px 20px;
							}
						}
					}
				}
			}
		}
	}

	&.my-info {
		margin-bottom: 30px;
		background: none;
		text-align: left;

		tbody {
			tr {
				td {
					padding: 0;
					border: 0;

					&:first-child {
						font-size: 20px;
						color: #fff;
					}

					&:nth-child(2) {
						font-size: 17px;
						color: rgba(255, 255, 255, .38);
					}

					&:last-child {
						border: 0;

						a {
							display: block;
							color: #fff;
							font-size: 16px;
						}
					}
				}
			}
		}

		@media screen {
			@media (max-width: 555px) {
				thead {
					display: none;
				}

				tbody {
					tr {
						&:nth-child(2n+0) {
							background: #323538;
						}

						td {
							position: relative;
							float: none;
						    display: block;
						    width: 100% !important;
						    padding: 10px 20px;
						    border: 0;
						    color: #fff;
						    font-size: 16px;
						    text-align: right;

						    &:first-child, &:nth-child(3) {
						    	display: none;
						    }

							&:before {
							    content: attr(data-title);
							    float: left;
							    width: 30%;
    							text-align: left;
							 	.rmedium();
							 	color: #808182;
							}

							&:after {
								content: '';
								display: block;
								width: 100%;
								clear: both;
							}
						}
					}
				}
			}
		}
	}

	&.my-activity {
		margin: 0;
		background: none;
		text-align: left;

		tbody {
			tr {
				td {
					padding: 0 0 20px 0;
					border: 0;
					font-size: 17.78px;
					color: #fff;

					&:first-child {
						color: rgba(255, 255, 255, .36);
					}

					&:last-child {
						border: 0;
					}
				}
			}
		}

		@media screen {
			@media (max-width: 555px) {
				thead {
					display: none;
				}

				tbody {
					tr {
						&:nth-child(2n+0) {
							background: #323538;
						}

						td {
							position: relative;
							float: none;
						    display: block;
						    width: 100% !important;
						    padding: 10px 20px;
						    border: 0;
						    border-bottom: 1px solid #4c4e52;
						    color: #fff;
						    font-size: 16px;
						    text-align: right;

						    @media (max-width: 370px) {
						    	text-align: left;
						    }

						    &:first-child{
						    	color: #fff;
						    }


							&:before {
							    content: attr(data-title);
							    float: left;
							    width: 30%;
    							text-align: left;
							 	.rmedium();
							 	color: #808182;

							 	@media (max-width: 370px) {
							 		float: none;
							 		display: block;
							 		width: 100%;
							 		margin: 0 0 8px 0;
							 	}
							}

							&:after {
								content: '';
								display: block;
								width: 100%;
								clear: both;
							}
						}


					}
				}
			}
		}
	}

  	&.timetable {
		thead {
			tr {
				th {
					span {
					  text-transform: capitalize;
					}
				}
			}
		}

		tbody {
			tr {
				td {
				  	line-height: 80px;
					white-space: nowrap;
					padding: 0 20px;
					border-right: 0;
					font-size: 17.54px;

					&.inactive {
					  background-color: rgba(255, 255, 255, 0.12);
					  opacity: 0.2;
					}
				}
			}
		}
	}
}

.table-responsive {
	@media screen {
		@media (max-width: 1200px) {
			border: 2px solid #4c4e52;

			table {
				thead {
					tr {
						th {
							&:first-child {
								.rounded(0);
							}
						}
					}
				}
			}
		}

		@media (max-width: 992px) {
			table {
				font-size: 18.54px;

				thead {
					tr {
						th {
							padding: 15px;
							line-height: normal;
							font-size: 18.54px;
						}
					}
				}
			}
		}
	}
}

.inner-page {

	.form-block {
		.col-md-9 {
		   	padding-right: 15px;
		}
	}

	section {
		.page-header {
			padding: 0;
			margin: 0;
			border: 0;

			.title-bg {
				margin: 0 0 20px 0;
				font-size: 32px;
				text-transform: uppercase;
			}
		}

		&.hero {
			padding-bottom: 0;
			min-height: 550px;

			@media screen {
			  	@media (max-width: 768px) {
				  	display: none;
				}

				@media (max-width: 750px) {
					min-height: 1px;
					margin: 0 0 60px 0;
				}

				@media (min-width: 751px) {
					min-height: 284px;
					padding-top: 70px;
				}
			}

		  	.col-md-10 {
				nav {
				  	@media screen {
						@media (min-width: 751px) {
				  			margin-bottom: 70px;
						}
					}
				}

			  	h1 {
				  	display: none;
				}
			}

		  	+ section {
			  	margin-top: 40px;
			}
		}
	}
}

section {
	&.hero {
		padding: 105px 0 30px 0;
		background: url('../img/hero-bg.jpg') top center no-repeat;

		.app-login {
			display: block;
			width: 100%;
			margin: 40px 0;
			padding: 0 15px;

			@media screen {
				@media (max-width: 750px) {
					background: rgba(38, 41, 46, .7);
				}
			}

			a {
				display: inline-block;
				position: relative;
				height: auto;
				margin: 0;
				padding: 10px 0;
				line-height: normal;
				background: rgba(38, 41, 46, .7);
				.rmedium();
				color: #fff;
				font-size: 18px;

				@media screen {
					@media (max-width: 750px) {
						background: none;
					}
				}

				i {
					&.svg {
						float: left;
					    width: 65px;
					    height: 65px;
					    background: url('../img/svg/smartphone.svg') center no-repeat;
					    background-size: 100%;
					}
				}

				div {
					padding: 12px 0 0 0;

					@media screen {
						@media (max-width: 366px) {
							font-size: 17px;
						}

						@media (max-width: 351px) {
							padding: 5px 0 0 0;
						}
					}
				}
			}
		}

		@media screen {
			@media (min-width: 1819px) {
				background-size: contain;
				-o-background-size: contain;
				-moz-background-size: contain;
				-webkit-background-size: contain;
			}

			@media (max-width: 750px) {
				background: url('../img/hero-bg-mob.png') top center no-repeat;;
				background-size: 100%;
			}
		}

		.col-md-10 {
			@media screen {
				@media (max-width: 992px) {
					float: none;
					display: block;
					width: 100%;
				}
			}


			nav {
				ul {
					li {
						float: left;
						margin: 0 13px 0 0;
						text-align: center;

						&:last-child {
							margin: 0;
						}

						a {
							position: relative;
							display: block;
							width: 171px;
							height: 144px;
							padding: 105px 30px 0 30px;
							background: #b9af93 url('../img/svg/hero-nav-services.svg') center 36px no-repeat;
							.light();
							font-size: 16px;
							text-transform: uppercase;
							line-height: normal;
							color: #fff;
							text-decoration: none;

							&:before {
								content: '';
								position: absolute;
								top: -4px;
								left: -4px;
								right: -4px;
								bottom: -4px;
								border: 1px solid transparent;
								.transition(all, .4s);
							}

							&:hover {
								&:before {
									border: 1px solid #fff;
								}
							}
						}

						&.prices {
							a {
								background: #ddcb99 url('../img/svg/hero-nav-prices.svg') center 30px no-repeat;
							}
						}

						&.user-zone {
							a {
								padding-top: 95px;
								background: #bdab7b url('../img/svg/hero-nav-user-zone.svg') center 30px no-repeat;
							}
						}

						&.calendar {
							a {
								padding-top: 95px;
								background: #d4b29c url('../img/svg/hero-nav-calendar.svg') center 30px no-repeat;
							}
						}

						&.event {
							a {
								background: #af9c69 url('../img/svg/calendare.svg') center 30px no-repeat;
								background-size: 58px;
							}
						}
					}

					@media screen {
						@media (max-width: 992px) {
							text-align: center;

							li {
								float: none;
								display: inline-block;
								margin: 0 1.04% 0 0;
								vertical-align: top;
							}
						}

						@media (max-width: 750px) {
							li {
								float: left;
								width: 49%;
								margin: 0 2% 2% 0;

								&:nth-child(2n+0){
									margin-right: 0;
								}

								a {
									width: 100%;
									padding: 105px 10px 0 10px;
								}
							}
						}

						@media (max-width: 285px) {
							li {
								float: none;
								width: 100%;
								margin: 0 0 2% 0;

								&:nth-child(2n+0){
									margin-right: 0;
								}
							}
						}
					}
				}
			}

			h1 {
				margin: 45px 0 0 0;
				font-weight: normal;
				.light();
				font-size: 46px;

				@media screen {
					@media (max-width: 992px) {
						background: none;
						text-align: center;
					}

					@media (max-width: 750px) {
						font-size: 35px;
						border-bottom: 1px solid #44474b;
					}

					@media (max-width: 378px) {
						font-size: 30px;
    					line-height: normal;
					}
				}

				strong {
					color: #d0b775;
					.medium();
					.text-shadow(#3f3e3e);
					text-transform: uppercase;
				}
			}
		}

		.col-md-12 {
			margin: 100px 0 0 0;

			@media screen {
				@media (max-width: 750px) {
					margin: 30px 0 0 0;
				}
			}

			ul {
				li {
					float: left;
					width: 33.05660377358491%;
					margin: 0 0.37735849056603776% 0 0;

					&:last-child {
						margin: 0;
					}

					.image {
						text-align: center;

						a {
							position: relative;
							display: block;

							img {
								display: inline-block;
								max-width: 100%;
							}

							&:before {
								content: '';
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								background: rgba(210, 169, 142, .69);
								background-image: url('../img/more-hover-ico.png');
								background-position: center;
								background-repeat: no-repeat;
								-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
								filter: alpha(opacity=0);
								-moz-opacity: 0;
								-khtml-opacity: 0;
								 opacity: 0;
								.transition(all, .4s);
							}

							&:hover {
								&:before {
									-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
									filter: alpha(opacity=100);
									-moz-opacity: 1;
									-khtml-opacity: 1;
									 opacity: 1;
								}
							}
						}
					}

					h2 {
						margin: 10px 0;
						font-weight: normal;
						.thin();
						font-size: 24px;
						text-transform: uppercase;
					}

					.text {
						height: 120px;
						overflow: hidden;
					}
				}

				@media screen {
					@media (max-width: 1200px) {
						li {
							float: none;
							display: block;
							width: 100%;
							margin: 0 0 3% 0;

							&:after {
								content: '';
								display: block;
								width: 100%;
								clear: both;
							}

							.image {
								float: left;
								width: 29.8%;
								margin: 0 3% 0 0;
							}

							.text-block {
								float: left;
								width: 67.2%;

								h2 {
									margin-top: 0;
								}

								.text {
									height: auto;
								}
							}
						}
					}

					@media (max-width: 992px) {
						li {
							margin: 0;
							padding: 30px 0;
							border-top: 1px solid #44474b;

							.image {
								width: 36.8%;
							}

							.text-block {
								width: 60.2%;
							}

							.btn {
								margin: 25px 0 0 0;
							}
						}
					}

					@media (max-width: 750px) {
						li {
							&:first-child {
								border-top: 0;
							}
						}
					}

					@media (max-width: 620px) {
						li {
							.image, .text-block {
								float: none;
								width: 100%;
								text-align: center;
							}

							.image {
								a {
									display: inline-block;
								}
							}

							.text-block {
								h2 {
									margin: 20px 0;
								    padding: 0;
								    background: none;
								}

								.text {
									text-align: justify;
    								font-size: 16px;
								}
							}

							.btn {
								width: 50%;
								padding: 0;
								font-size: 15px;
								text-align: center;

								&:after {
									content: normal;
								}
							}
						}
					}

					@media (max-width: 465px) {
						li {
							.btn {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}

	&.articles {
		padding: 40px 0 70px 0;
		background: #292c31;

		@media screen {
			@media (max-width: 1200px) {
				.col-md-6 {
					float: none;
					width: 100%;

					&.coach-advises {
						margin-top: 50px;
					}
				}
			}

			@media (max-width: 992px) {
				padding: 40px 0 0 0;
			}


			@media (max-width: 620px) {
				.col-md-6.coach-advises {
					margin-top: 0;
				    border-top: 1px solid #44474b;
	    			padding-top: 35px;
    			}
    		}
		}

		h3 {
			margin: 0 0 15px 0;
			font-weight: normal;
			font-size: 32px;
			text-transform: uppercase;

			@media screen {
				@media (max-width: 620px) {
				    text-align: center;
	    			background-position: bottom center !important;
	    		}

	    		@media (max-width: 300px) {
	    			font-size: 26px;
	    		}
	    	}
		}

		article {
			margin: 0 0 45px 0;

			&:last-child {
				margin: 0;
			}

			@media screen {
				@media (max-width: 992px) {
					margin: 0;
		    		padding: 30px 0;
		    		border-bottom: 1px solid #44474b;

		    		&:last-child {
		    			border: 0;
		    		}
		    	}
		    }

			.pull-left {
				width: 45.559845%;

				@media screen {
					@media (max-width: 1200px) {
    					width: 30.559845%;
    				}

    				@media (max-width: 620px) {
    					width: 100%;
    					text-align: center;

    					a {
    						display: inline-block !important;
    					}

    				}
    			}


				a {
					position: relative;
					display: block;

					img {
						max-width: 100%;
						border: 4px solid #54565a;
					}

					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background: rgba(210, 169, 142, .69);
						background-image: url('../img/more-hover-ico.png');
						background-position: center;
						background-repeat: no-repeat;
						-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
						filter: alpha(opacity=0);
						-moz-opacity: 0;
						-khtml-opacity: 0;
						opacity: 0;
						.transition(all, .4s);
					}

					&:hover {
						&:before {
							-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
							filter: alpha(opacity=100);
							-moz-opacity: 1;
							-khtml-opacity: 1;
							opacity: 1;
						}
					}
				}
			}

			.pull-right {
				width: 54.440155%;
				padding-left: 2.31660231%;

				header {
					margin: 0 0 10px 0;
					.regular();
					font-size: 18px;

				  	a {
					  	color: #fff;
					}
				}

				p {
					margin: 0;
				}

				footer {
					margin: 10px 0 0 0;

					.read-more {
						float: left;
						color: #fff;
					}

					time {
						float: right;
						font-style: italic;
					}
				}

				@media screen {
					@media (max-width: 1200px) {
    					width: 69.440155%;
    				}

    				@media (max-width: 620px) {
    					width: 100%;

    					header {
						    margin: 20px 0;
						    padding: 0;
						    background: none;
						    text-align: center;
    					}

    					p {
    						text-align: justify;
    						font-size: 16px;
    					}

    					footer {
    						margin: 20px 0 0 0;
    					}
    				}
    			}
			}
		}

		.pagination {
			display: block;
			margin: 0;
			padding: 30px 0 0 0;
			border-top: 1px solid #44474b;
			.rounded(0);

			@media screen {
				@media (max-width: 1200px) {
					margin: 30px 0 0 0;
				}
			}

			ul {
				text-align: center;

				li {
					display: inline-block;
					margin: 0 0 0 1.04%;

					&:first-child {
						margin: 0;
					}

					a, span {
						display: block;
						line-height: 20px;
						min-width: 20px;
						background: #3c3c39;
						color: #7a7c7f;
						text-align: center;
						.transition(all, .4s);
						.rounded(50%);
					}

					&:hover, &.active {
						a, span {
							background: #6b6244;
							color: rgba(0, 0, 0, .89);
							text-decoration: none;
						}
					}
				}
			}
		}

		&.news {
			padding: 0 0 70px 0;
			background: none;

			.articles-list {
				article {
					float: left;
					width: 47.17%;
					margin: 0 5.66% 45px 0;

					&:nth-child(2n+0) {
						margin-right: 0;
					}

					@media screen {
						@media (max-width: 1200px) {
							float: none;
							display: block;
							width: 100%;
							margin: 0;
    						padding: 30px 0;

    						&:last-child {
    							//border-bottom: 1px solid #44474b;
    						}
						}
					}
				}
			}
		}
	}

	&.information {
		ul {
			&.list {
				display: inline-block;
				margin: 0 0 20px 0;

				li {
					padding: 0 0 0 15px;
					background: url('../img/dot-ico.png') left center no-repeat;
				}
			}
		}

	  	.content {
			ul {
				display: inline-block;
				margin: 0 0 20px 0;

				li {
					padding: 0 0 0 15px;
					background: url('../img/dot-ico.png') left center no-repeat;
				}
			}

		  	.thumbnail {
				float: left;
				margin-right: 20px;
				margin-bottom: 0;
			}
		}

		article {
			footer {
				a {
					color: #fff;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}

	  	h1, h2, h3, h4, h5 {
			padding-bottom: 25px;
			background: url('../img/title-bg.png') left bottom no-repeat;
			color: #fff;
		}
	}

	&.sessions, &.timetable {
		.choose-date {
			.info-text {
				margin: 0;
				font-size: 23.47px;
				color: #fff;
			}

		  	.time {
			  	min-height: 60px;
			}

			time {
				display: block;
				//margin: 0 15px 10px 0;
				font-size: 35.21px;
				color: #fff;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);

			}

			.prev-url, .next-url {
				background-color: transparent;
				color: #ffffff;
			}

			@media screen {
				@media (max-width: 992px) {
					.info-text, time {
						display: block;
						font-size: 18px;
						text-align: center;
					}

				  	.time {
					  	min-height: 77px;
					}

					time {
						margin: 20px 0;
						font-size: 26px;
					}

					.prev-url, .next-url {
					  	margin: 21px 0;
					}
				}
			}
		}
	}

  	&.timetable {
		.choose-date {
			time {
				white-space: nowrap;
				font-size: 28px;

				@media (min-width: 993px) {
				  	top: 8px;
				}
			}
		}

	  	.content {
		  	margin-top: 40px;
		}
	}

	&.user-zone {
		.user-info, .user-activity {
			width: 50%;
		}

		.btn.btn-default {
			height: 50px;
			line-height: 50px;
			margin: 0;
			padding: 0 30px;
			.light();
			font-size: 17px;
			.rounded(5px);
		}

		.name, .table-title {
			display: block;
			margin: 0 0 20px 0;
			font-size: 24px;
			color: #fff;
		}

		.name {
			a {
				margin: 0 0 0 17px;
				color: #fff;
			    font-size: 16px;
			}
		}

		.account-balance {
			margin: 0 0 40px 0;

			.wrapper {
				float: left;
				padding: 0 60px 0 0;
				margin: 0 55px 0 0;
				line-height: 49px;
				background: #2a2d32;
				font-size: 17px;
				.rounded(5px);

				span {
					display: inline-block;
					padding: 0 68px 0 45px;
					margin: 0 30px 0 0;
					background: #35383d;
					color: #fff;
					font-size: 20px;
					.rounded(5px);
				}
			}
		}

		@media screen {
			@media (max-width: 1200px) {
				.user-info {
					.btn.btn-default {
						margin-top: 15px;
					}
				}
			}

			@media (max-width: 992px) {
				.user-info, .user-activity {
					width: 100%;
				}

				.user-info {
					.account-balance {
						.wrapper {
							margin: 0 10px 0 0;
						}

						.btn.btn-default {
							margin-top: 0;
						}
					}
				}

				.user-activity {
					margin: 50px 0 0 0;
					padding: 30px 0 0 0;
					border-top: 1px solid #44474b;
				}
			}

			@media (max-width: 561px) {
				.account-balance {
					.wrapper {
						width: 100%;
    					margin: 0;
    					padding: 0;

    					span {
    						margin: 0 15px 0 0;
    					}
					}
				}

				.btn.btn-default {
					margin-top: 10px !important;
   					width: 100%;
					height: 35px;
					line-height: 35px;
				}
			}
		}
	}

	&.gallery {
		ul.galeries-list {
			li {
				float: left;
				width: 32.83018867924528%;
				margin: 0 0.7547169811320755% 0.7547169811320755% 0;

				&:nth-child(3n+0) {
					margin-right: 0;
				}

				a {
					position: relative;
					display: block;

					img {
						width: 100%;
					}

					span {
						display: block;
						position: absolute;
						bottom: 0;
						width: 100%;
						padding: 18px 5px 15px 5px;
						background: rgba(255, 255, 255, .71);
						color: #26292e;
						.regular();
						font-size: 13.48px;
						text-transform: uppercase;
						text-align: center;
					}

					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						opacity: 0;
						background: rgba(255, 255, 255, .71);
						background-image: url('../img/gallery-view-ico.png');
						background-position: center;
						background-repeat: no-repeat;
						.transition(all, .4s);
					}

					&:hover {
						&:before {
							opacity: 1;
						}
					}
				}

				@media screen {
					@media (max-width: 750px) {
						width: 48.5%;
						margin: 0 1.5% 1.5% 0;

						&:nth-child(2n+0) {
							margin-right: 0;
						}

						&:nth-child(3n+0) {
							margin-right: 1.5%;
						}
					}

					@media (max-width: 430px) {
						float: none;
						width: 100%;
						margin: 0 0 3% 0;
					}
				}
			}

			&.preview {
				a {
					&:before {
						background: rgba(221, 203, 153, .85);
						background-image: url('../img/zoom-ico.png');
						background-position: center;
						background-repeat: no-repeat;
					}
				}

			}
		}

		.text-uppercase, a.back {
			font-size: 17.58px;
		}

		.carousel {
			.carousel-inner {
				.item {
					text-align: center;

					img {
						display: inline-block;
						max-width: 1100px;
						height: auto;

						@media screen {
							@media (max-width: 1200px) {
								max-width: 100%;
							}
						}
					}
				}
			}

			.left.carousel-control {
				background: url('../img/carousel-prev.png') left center no-repeat;

				@media screen {
					@media (max-width: 1200px) {
						left: 2%;
					}
				}
			}

			.right.carousel-control {
				background: url('../img/carousel-next.png') right center no-repeat;

				@media screen {
					@media (max-width: 1200px) {
						right: 2%;
					}
				}
			}
		}

		a.back {
			display: inline-block;
    		margin: 20px 0 0 68px;

    		@media screen {
				@media (max-width: 1200px) {
					margin-left: 0;
				}
			}
		}
	}
}

.ajax-form {
	.errors, .message {
		font-size: 13px;
		display: none;
	  	margin-bottom: -6px;

		@media screen {
			@media (min-width: 400px) {
			 	 white-space: nowrap;
			}
		}
	}

  	.errors {
	  	color: #a94442;
	}
  
	.message {
	  	color: #4caf50;
	}
}