footer {
	&.main-footer {
		margin: 50px 0 0 0;

		.logos {
			padding: 60px 0;
			background: #323538;

			@media screen {
				@media (max-width: 660px) {
					padding: 30px 0;
				}
			}

			.container {
				ul {
					text-align: center;

					li {
						display: inline-block;
						margin: 0 7.3018867% 0 0;

						@media screen {
							@media (max-width: 1200px) {
								width: 19%;
							    padding: 0 1.5%;
							    margin: 0;

								a {
									vertical-align: middle;

									img {
										max-width: 100%;
										height: auto;
									}
								}
							}

							@media (max-width: 660px) { 
								width: 25%;
    							padding: 1.5%;
							}

							@media (max-width: 500px) { 
								width: 45%;
    							padding: 1.5%;
							}
						}

						&:last-child {
							margin: 0;
						}

						a {
							display: block;
							.transition(all, .4s);

							&:hover {
								-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
								filter: alpha(opacity=60);
								-moz-opacity: .6;
								-khtml-opacity: .6;
								 opacity: .6;
							}
						}
					}
				}
			}
		}

		.info-block {
			padding: 50px 0;
			
			.row {
				> .col-md-5 {
					ul {
						padding: 0 6.560283687943262% 0 0;
						border-right: 1px solid rgba(255, 255, 255, .6);

						li {
							margin: 0 0 5px 0;

							&:last-child {
								margin: 0;
							}
						}

						&:last-child {
							padding: 0 0 0 6.560283687943262%;
							border: 0;
						}
					}
				}

				> .col-md-7 {

					.col-md-6 {
						&.contacts {
							form {
								label {
									.medium();
									font-weight: normal;
									font-size: 13px;
									color: #b6a16a;
									text-transform: uppercase;
								}

								.form-group {
									margin: 0;
									border: 1px solid #323436;

									input[type="email"], input[type="text"] {
										height: 33px;
										width: 100%;
										padding: 0 0 0 10px;
										background: rgba(240, 240, 241, .1);
										border: 1px solid #232629;
									}

									&.submit {
										margin: 8px 0 0 0;
										border: 1px solid #505356;

										.btn {
											width: 100%;
											height: 33px;
											line-height: 33px;
											margin: 0;
											border: 1px solid #2b2f35;
											outline: none;
										}
									}


								}
							}
							ul {
								padding-bottom: 15px;
								li {
									margin: 0 0 15px 0;

									&:last-child {
										margin: 0;
									}

									a {
										display: inline-block;
										padding: 0 0 0 35px;
										color: #b6a16a;
										.transition(color, .4s);

										&:hover {
											color: rgba(182, 161, 106, .7s);
										}
									}

									&.email a {
										line-height: 16px;
										background: url('../img/svg/contacts-ico.svg') left center no-repeat;
									}

									&.phone a {
										line-height: 20px;
										background: url('../img/svg/footer-phone-ico.svg') left center no-repeat;
									}

									&.fb a {
										line-height: 21px;
										background: url('../img/svg/footer-fb-ico.svg') left center no-repeat;
									}

									&.address a {
										line-height: 20px;
										background: url('../img/svg/g7_location.svg') left center no-repeat;
										background-size: 20px 20px;
									}
								}
							}
						}

						&:last-child {

						}
					}
				}

				@media screen {
					@media (max-width: 1200px) {
						> .col-md-5, > .col-md-7 {	
							float: none;
							display: block;
							width: 100%;
						}

						> .col-md-5 {
							margin-top: 40px;
							padding-top: 20px;
							border-top: 1px solid #44474b;

							ul.pull-left {
								width: 100%;
								padding: 0;
								border: 0;
								text-align: center;

								li {
									display: inline-block;
									padding: 0 10px 0 0;
									margin: 0;

									a {
										font-size: 15px;
									}

									&:after {
										content: '/';
										margin: 0 0 0 10px;
									}
								}

								&:last-child {
									li {
										&:last-child {
											&:after {
												content: normal;
											}
										}
									}
								}
								
							}
						}
					}

					@media (max-width: 992px) {
						> .col-md-7 {
							.col-md-4 {
								float: left;
							}
						}
					}

					@media (max-width: 660px) {
						> .col-md-7 {
							.col-md-4 {
								width: 100%;
								padding: 0 15px !important;
								text-align: center;

								a {
									.regular();
									font-size: 16px;
								}

								&.contacts {
									margin-bottom: 20px;

									ul {					
										li {
											display: inline-block;
											margin: 0 3% 3% 0;
										}
									}
								}

								form {
									label {
										width: 100%;
										font-size: 15px !important;
									}

									.form-group {
										input[type="email"], input[type="text"] {
											text-align: center;
										}
									}
								}

								&:last-child {
									margin: 30px 0 0 0;
									font-size: 15px;

									p {
										font-size: 17px;
										margin-bottom: 5px;
									}
								}
							}
						}
					}
				}
			}
		}

		> .container-fluid {
			line-height: 45px;
			background: #b7a26a;
			color: #26292e;
			.regular();

			@media screen {
				@media (max-width: 450px) {
					padding: 12px 0;
					line-height: normal;
				}
			}
		}
	}
}

#nav-overlay.active {
    display: inline !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

section.logos img:hover,
section.logos img:focus {
	opacity: .6;
}

#map {
	height: 240px;
	background-color: grey;
}

#mapContact {
	height: 350px;
	background-color: grey;
}