//Text fonts

.rmedium() {
	font-family: 'RalewayMedium';
}

.thin() {
	font-family: 'WorkSansThin';
}

.light() {
	font-family: 'WorkSansLight';
}

.regular() {
	font-family: 'WorkSansRegular';
}

.medium() {
	font-family: 'WorkSansMedium';
}

.rounded (@radius: 3px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.text-shadow (@color: #fff) {
 	text-shadow: 0 1px 0 @color;
}

.box-shadow (@color: #002A3C) {
	-webkit-box-shadow: 0 1px 5px @color;
	-moz-box-shadow: 0 1px 5px @color;
	-o-box-shadow: 0 1px 5px @color;
	box-shadow: 0 1px 5px @color;
}

.transition (@type: all, @seconds: 0.4s) {
	-webkit-transition: @type @seconds ease;
	-moz-transition: @type @seconds ease;
	-o-transition: @type @seconds ease;
	transition: @type @seconds ease;
}

