.container {
	@media screen {
		@media (min-width: 1200px) {
			//width: 1200px;
		}
	}
}

header#header-block {
	padding: 15px 0 0 0;
	background: #393e43 url('../img/header-bg.png') repeat-x;

	@media screen {
		@media (max-width: 1280px) {
			padding: 15px 0;
		}
	}

	.container {
		.col-md-12 {
			@media screen {
				@media (min-width: 1200px) {
					position: static;
				}

				@media (max-width: 1200px) {
					position: relative;
				}
			}
			

			#logo, .links, .time {
				float: left;
			}

			#logo, .links a {
				.transition(all, .4s);

				&:hover {
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
				    filter: alpha(opacity=60);
				    -moz-opacity: .6;
				    -khtml-opacity: .6;
				    opacity: .6;
				}
			}

			#logo {
				margin: 0 5.63468634% 0 0;

				@media screen {
					@media (max-width: 400px) {
						line-height: 88px;

						img {
							width: 72.5%;
							height: auto;
							
						}
					}
				}
			}

			 
			ul.links {
				margin: 17px 5.34686346% 0 0;

				li {
					float: left;
					padding: 0 18px;
					border-right: 1px solid rgba(189, 171, 123, .15);

					&:first-child {
						padding-left: 0;
					}

					&:last-child {
						padding-right: 0;
						border: 0;
					}

					a {
						display: block;
						padding: 34px 0 0 0;
						.regular();
						font-size: 14px;
						color: #bdab7b;
					}

					&.friends {
						a {
							background: url('../img/svg/header-friends-ico.svg') top center no-repeat;
						}
					}

					&.contacts {
						a {
							background: url('../img/svg/contacts-ico.svg') top center no-repeat;
						}
					}

					&.rules {
						a {
							background: url('../img/svg/header-rules-ico.svg') top center no-repeat;
						}
					}

				  	&.cart {
					  	a {
							padding-top: 0;

							&:hover {
								text-decoration: none;

								span {
									text-decoration: underline;
								}
							}

							i {
								margin-bottom: 12px;
								font-size: 22px;
								text-align: center;
								display: block;
							}
						}
					}
				}
			}

			.time {
				margin: 7px 0 0 0;

				.title {
					display: block;
					padding: 0 0 2px 0;
					margin: 0 0 5px 0;
					border-bottom: 1px solid rgba(189, 171, 123, .43);
					.medium();
					font-size: 16px;
					color: #bdab7b;
				}

				ul {
					li {
						.regular();

						span {
							display: inline-block;
							width: 45px;
							.thin();
						}
					}
				}
			}

			.user-area {
				float: right;
				width: 350px;
				margin: 12px 0 0 0;

				@media screen {
					@media (max-width: 1280px) {
						display: none;
					}
				}

				form {
					> div {
						width: 47.76%;

						&.pull-right {
							margin-left: 4.4776119%;
						}

						.form-group {
							margin: 4px 0 0 0;

							&.with-bg {
								border: 1px solid #393d42;
								.rounded(2px);

								&.first {
									margin: 0 0 15px 0;
								}
							}

							a {
								color: #fff;
								.thin();
							}


							input {
								height: 25px;
								padding: 0 25px 0 10px;
								line-height: 25px;
								background: rgba(240, 240, 241, .1);
								background-image: url('../img/svg/header-user-ico.svg');
								background-position: center right;
								background-repeat: no-repeat; 
								border: 1px solid #353a40;
								.thin();
								color: #fff;
								font-size: 14px;
								box-shadow: none;
								-o-box-shadow: none;
								-moz-box-shadow: none;
								-webkit-box-shadow: none;
								.transition(all, .4s);
								.rounded(2px);
								outline: none;

								&::-webkit-input-placeholder {
									color: #fff;
								}

								&::-moz-placeholder {
									color: #fff;
								}

								&:-ms-input-placeholder {
									color: #fff;
								}

								&:-moz-placeholder {
									color: #fff;
								}

								&:focus, &:hover {
									background-color: rgba(240, 240, 241, .15);
									-webkit-box-shadow: none;
									-moz-box-shadow: none;
									-o-box-shadow: none;
	    							box-shadow: none;
								}
							}

							input[type="password"] {
								background-image: url('../img/svg/header-password-ico.svg');
								background-position: center right;
								background-repeat: no-repeat; 
							}


							input[type="submit"] {
								width: 100%;
								margin: 0 0 0 0;
							    padding: 0 0 2px 0;
							    line-height: normal;
								background: #bdab7b;
								border: 1px solid #2e3339;
								.light();
								color: #22292f;
								.transition(all, .4s);
								outline: none;

								&:hover {
									background: #a7976d;
								}
							}
						}
						.link {
							margin: 0 0 0 0;
						}
					}
				}

				&.logged {
					color: rgba(255, 255, 255, 0.6);

					.pull-left {
						padding-right: 0;

						ul {
							li {
								padding-left: 24px;
								margin: 0 0 5px 0;

							  	span.glyphicon {
								  	color: #ffffff;
									font-size: 13px;
									vertical-align: top;
									margin-top: 3px;
									margin-right: 6px;
								}

								&:first-child {
									//background: url('../img/svg/header-user-ico.svg') left center no-repeat;
									.regular();
								}

								&.settings {
									//background: url('../img/header-settings-ico.png') 6px center no-repeat;
								}

								&:last-child {
									margin: 0;
								}
							}
						}
					}

					.pull-right {
						span {
							display: block;

							strong {
								font-weight: normal;
								.medium();
							}
						}

						.btn {
							width: 100%;
							height: 25px;
							line-height: 25px;
							margin-bottom: 0;
						}
					}
				}
			}

			.language-block {
				position: absolute;
				right: 15px;

				.dropdown-btn {
					text-transform: uppercase;

					.btn.dropdown-toggle {
						padding-right: 10px;
						background: url('../img/arrow-down-white.png') center right no-repeat;
						border: 0;
						text-transform: uppercase;
						box-shadow: none;
						-o-box-shadow: none;
						-moz-box-shadow: none;
						-webkit-box-shadow: none;
					}

					.dropdown-menu {
						min-width: 1px;

						li {
							a {
								padding: 3px 10px;
							}
						}
					}
				}
			}

			.menu-toggle {
				position: absolute;
			    top: 22px;
    			right: 15px;
				margin: 11px 0 0;
				height: 30px;
				width: 35px;
				border-top: 6px solid #fff;
				border-bottom: 6px solid #fff;
				cursor: pointer;

				@media screen {
					@media (max-width: 1280px) {
						display: inline !important;
					}
				}

				&:before {
					content: '';
					position: absolute;
					top: 6px;
					left: 0;
					height: 6px;
					width: 100%;
					background: #fff;
				}
			}	
		}		
	}

	#navigation {
		margin: 15px 0 0 0;
		background: #e3e3e4;

		.container {
			.row {
				ul.navigation-list {
					text-align: center;
					li {
						display:inline-block;
						a {
							display: block;
							padding: 0 24.5px;
							line-height: 50px;
							.regular();
							font-size: 16px;
							text-transform: uppercase;
							color: #34393f;
							.transition(all, .4s);

							.caret {
								position: absolute;
							    top: 23px;
							    right: 10px;
							}

							&:hover, &:focus, &:active {
								background: #fff;
								text-decoration: none;
							}
						}

						&.active {
							a {
								background: #fff;
								text-decoration: none;
							}
						}	

						&.dropdown.open {
							position: static;

							.container-fluid.dropdown-menu {
								top: 165px;
								left: 0;
								right: 0;
								border: 0;
								background: rgba(255, 255, 255, 0.77);
    							border-top: 1px solid #979da3;
								@media screen {
									@media (max-width: 768px) {
										top: 0;
									}
								}
    							.rounded(0);

    							.container {
    								margin: 0 auto;

    								.block {
    									float: left;
    									width: 50%;

    									h2 {
    										display: block;
    										margin: 0 0 25px 0;
    										padding: 15px 0 25px 0;
    										background: url('../img/title-bg.png') left bottom no-repeat;
    										color: #2e3238;
    										.rmedium();
    										font-size: 20px;
    										text-transform: uppercase;
    										font-weight: normal;
    									}

										ul {
											display: block;
											margin: 0 auto;
											border: 0;
										
											.rounded(0);

											li {
												float: left;
												width: 50%;
												margin: 0 0 0 0;

												&:last-child {
													margin: 0;
												}

												a {
													position: relative;
													z-index: 1001;
													display: inline-block;
													padding: 10px 0;
													line-height: normal;
													font-size: 16px;
													color: #2e3238;
													text-transform: none;

													&:hover {
														background: none;
														text-decoration: underline;
													}
												}
											}
										}	  
    								}
    							}
							}			
						}
					}
				}
			}
		}

		@media screen {
			@media (max-width: 1280px) {
				position: fixed;
			    top: 0;
			    right: -50%;
			    width: 50%;
			    height: 100% !important; 
			    margin: 0;
			    .transition(all, 0.4s);
			    overflow: auto;
			    z-index: 999;

			    @media (max-width: 650px) {
			    	right: -80%;
			    	width: 80%;
			    }

			    @media (max-width: 400px) {
			        height: 118px;
			    }

			    .container {
			    	width: 100%;
			    	
			    	.row {
			    		.col-md-12 {
			    			padding: 55px 0 15px 0;
			    			overflow: auto;

			    			.user-block {
			    				padding: 15px;

				    			form {
				    				.pull-left {
				    					width: 70%;

				    					@media (max-width: 850px) {
				    						width: 100%;
				    					}

				    					.form-group {
				    						input {
				    							background: #44494e url('../img/svg/header-password-ico.svg') right center no-repeat;
				    							border: 0;
				    							color: #fff;
				    							.rounded(0);

				    							&:focus {
				    								border: 0;
				    								box-shadow: 0;
				    								-o-box-shadow: 0;
				    								-moz-box-shadow: 0;
				    								-webkit-box-shadow: 0;
				    							}
				    						}

				    						&.first {
				    							input {
				    								background: #44494e url('../img/svg/header-user-ico.svg') right center no-repeat;
				    							}
				    						}
				    					}
				    					
				    				}

				    				.pull-right {
				    					width: 27%;

				    					@media (max-width: 850px) {
				    						width: 100%;
				    					}

				    					.form-group {
				    						&.link {
				    							a {
				    								color: #34393f;
				    								.regular();
				    							}
				    						}

					    					.btn.btn-default {
					    						width: 100%;
					    						height: 48px;
	    										line-height: 48px;
					    						margin: 0;

					    						.regular();
					    					}
				    					}
				    				}
				    			}

				    			&.logged {
									color: #34393f;

									.col-md-6 {
										width: 100%;
										padding: 0;

										&.pull-right {
											margin-top: 10px;
											padding: 10px 0 0 0;
											border-top: 1px solid #c5c5c5;
										}

										ul {
											li {
												margin: 0 0 5px 0;

											  	span.glyphicon {
												  	display: none;
												}

												&:first-child {
													font-size: 23px;

													&:after {
														content: ',';
													}
												}

												a {
													padding: 0;
													text-transform: none;
												}
											}
										}
									}
				    			}    
			    			}

			    			.container-fluid.dropdown-menu {
			    				border-top: 0 !important;

			    				.container {
			    					.block {
			    						width: 100% !important;
			    						margin: 0 0 15px 0;

			    						h2 {
			    							font-size: 18px !important;

			    							@media (max-width: 400px) {
			    								font-size: 16px !important;
			    							}
			    						}
			    					}
			    				}
			    			}

				    		ul { 
				    			li {
				    				float: none !important;
				    				display: block;
				    				width: 100% !important;

				    				a {
				    					display: block !important;
				    					line-height: normal;
				    					padding: 12px 24.5px;
				    				}

				    				&.dropdown {
				    					&.open {
				    						.dropdown-menu {
				    							position: static;
				    							float: none;
				    						}
				    					}
				    				}

				    				&.divider {
				    					border-bottom: 1px solid #c5c5c5;
				    				}
				    			}
				    		}

				    		span#close-menu {
							    display: inline !important;
							    position: absolute;
							    top: 15px;
							    right: 15px;
							    width: 32px;
							    height: 32px;
							    background: url('../img/close-ico.png') no-repeat;
							    cursor: pointer;
							}
			    		}
			    	}
			    }

			    ul {
			    	li {
			    		float: none;
			    		display: block;
			    	}
			    }

			    &.active {
			    	right: 0;
			    }
			}
		}
	}
}