@font-face {
    font-family: 'RalewayMedium';
    src: url('../fonts/RalewayMedium.eot');
    src: url('../fonts/RalewayMedium.eot') format('embedded-opentype'),
         url('../fonts/RalewayMedium.woff2') format('woff2'),
         url('../fonts/RalewayMedium.woff') format('woff'),
         url('../fonts/RalewayMedium.ttf') format('truetype'),
         url('../fonts/RalewayMedium.svg#RalewayMedium') format('svg');
}

@font-face {
    font-family: 'WorkSansThin';
    src: url('../fonts/WorkSansThin.eot');
    src: url('../fonts/WorkSansThin.eot') format('embedded-opentype'),
         url('../fonts/WorkSansThin.woff2') format('woff2'),
         url('../fonts/WorkSansThin.woff') format('woff'),
         url('../fonts/WorkSansThin.ttf') format('truetype'),
         url('../fonts/WorkSansThin.svg#WorkSansThin') format('svg');
}

@font-face {
    font-family: 'WorkSansLight';
    src: url('../fonts/WorkSansLight.eot');
    src: url('../fonts/WorkSansLight.eot') format('embedded-opentype'),
         url('../fonts/WorkSansLight.woff2') format('woff2'),
         url('../fonts/WorkSansLight.woff') format('woff'),
         url('../fonts/WorkSansLight.ttf') format('truetype'),
         url('../fonts/WorkSansLight.svg#WorkSansLight') format('svg');
}

@font-face {
    font-family: 'WorkSansRegular';
    src: url('../fonts/WorkSansRegular.eot');
    src: url('../fonts/WorkSansRegular.eot') format('embedded-opentype'),
         url('../fonts/WorkSansRegular.woff2') format('woff2'),
         url('../fonts/WorkSansRegular.woff') format('woff'),
         url('../fonts/WorkSansRegular.ttf') format('truetype'),
         url('../fonts/WorkSansRegular.svg#WorkSansRegular') format('svg');
}

@font-face {
    font-family: 'WorkSansMedium';
    src: url('../fonts/WorkSansMedium.eot');
    src: url('../fonts/WorkSansMedium.eot') format('embedded-opentype'),
         url('../fonts/WorkSansMedium.woff2') format('woff2'),
         url('../fonts/WorkSansMedium.woff') format('woff'),
         url('../fonts/WorkSansMedium.ttf') format('truetype'),
         url('../fonts/WorkSansMedium.svg#WorkSansMedium') format('svg');
}


html, body {
	height: 100%;
    background: #26292e;
    font-family: 'WorkSansLight';
    font-size: 14px;
    color: rgba(255, 255, 255, .4);
}


textarea:focus, input:focus, select:focus {
    outline: none;
}

a {
    color: rgba(255, 255, 255, 0.4);
	text-decoration: none;
    -webkit-transition: all, .4s ease;
    -moz-transition: all, .4s ease;
    -o-transition: all, .4s ease;
    transition: all, .4s ease;
    outline: none;

    &:hover {
        color: rgba(255, 255, 255, 0.5);
    }
}

img {
	border: none;
}

ul {
	padding: 0;
	margin: 0;
    list-style: none;
}

@import "functions.less";
@import "header.less";
@import "content-block.less";
@import "footer.less";




