@font-face {
  font-family: 'RalewayMedium';
  src: url('../fonts/RalewayMedium.eot');
  src: url('../fonts/RalewayMedium.eot') format('embedded-opentype'), url('../fonts/RalewayMedium.woff2') format('woff2'), url('../fonts/RalewayMedium.woff') format('woff'), url('../fonts/RalewayMedium.ttf') format('truetype'), url('../fonts/RalewayMedium.svg#RalewayMedium') format('svg');
}
@font-face {
  font-family: 'WorkSansThin';
  src: url('../fonts/WorkSansThin.eot');
  src: url('../fonts/WorkSansThin.eot') format('embedded-opentype'), url('../fonts/WorkSansThin.woff2') format('woff2'), url('../fonts/WorkSansThin.woff') format('woff'), url('../fonts/WorkSansThin.ttf') format('truetype'), url('../fonts/WorkSansThin.svg#WorkSansThin') format('svg');
}
@font-face {
  font-family: 'WorkSansLight';
  src: url('../fonts/WorkSansLight.eot');
  src: url('../fonts/WorkSansLight.eot') format('embedded-opentype'), url('../fonts/WorkSansLight.woff2') format('woff2'), url('../fonts/WorkSansLight.woff') format('woff'), url('../fonts/WorkSansLight.ttf') format('truetype'), url('../fonts/WorkSansLight.svg#WorkSansLight') format('svg');
}
@font-face {
  font-family: 'WorkSansRegular';
  src: url('../fonts/WorkSansRegular.eot');
  src: url('../fonts/WorkSansRegular.eot') format('embedded-opentype'), url('../fonts/WorkSansRegular.woff2') format('woff2'), url('../fonts/WorkSansRegular.woff') format('woff'), url('../fonts/WorkSansRegular.ttf') format('truetype'), url('../fonts/WorkSansRegular.svg#WorkSansRegular') format('svg');
}
@font-face {
  font-family: 'WorkSansMedium';
  src: url('../fonts/WorkSansMedium.eot');
  src: url('../fonts/WorkSansMedium.eot') format('embedded-opentype'), url('../fonts/WorkSansMedium.woff2') format('woff2'), url('../fonts/WorkSansMedium.woff') format('woff'), url('../fonts/WorkSansMedium.ttf') format('truetype'), url('../fonts/WorkSansMedium.svg#WorkSansMedium') format('svg');
}
html,
body {
  height: 100%;
  background: #26292e;
  font-family: 'WorkSansLight';
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}
textarea:focus,
input:focus,
select:focus {
  outline: none;
}
a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  -webkit-transition: all, .4s ease;
  transition: all, .4s ease;
  outline: none;
}
a:hover {
  color: rgba(255, 255, 255, 0.5);
}
img {
  border: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
header#header-block {
  padding: 15px 0 0 0;
  background: #393e43 url('../img/header-bg.png') repeat-x;
}
@media screen and (max-width: 1280px) {
  header#header-block {
    padding: 15px 0;
  }
}
@media screen and (min-width: 1200px) {
  header#header-block .container .col-md-12 {
    position: static;
  }
}
@media screen and (max-width: 1200px) {
  header#header-block .container .col-md-12 {
    position: relative;
  }
}
header#header-block .container .col-md-12 #logo,
header#header-block .container .col-md-12 .links,
header#header-block .container .col-md-12 .time {
  float: left;
}
header#header-block .container .col-md-12 #logo,
header#header-block .container .col-md-12 .links a {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
header#header-block .container .col-md-12 #logo:hover,
header#header-block .container .col-md-12 .links a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -moz-opacity: .6;
  -khtml-opacity: .6;
  opacity: .6;
}
header#header-block .container .col-md-12 #logo {
  margin: 0 5.63468634% 0 0;
}
@media screen and (max-width: 400px) {
  header#header-block .container .col-md-12 #logo {
    line-height: 88px;
  }
  header#header-block .container .col-md-12 #logo img {
    width: 72.5%;
    height: auto;
  }
}
header#header-block .container .col-md-12 ul.links {
  margin: 17px 5.34686346% 0 0;
}
header#header-block .container .col-md-12 ul.links li {
  float: left;
  padding: 0 18px;
  border-right: 1px solid rgba(189, 171, 123, 0.15);
}
header#header-block .container .col-md-12 ul.links li:first-child {
  padding-left: 0;
}
header#header-block .container .col-md-12 ul.links li:last-child {
  padding-right: 0;
  border: 0;
}
header#header-block .container .col-md-12 ul.links li a {
  display: block;
  padding: 34px 0 0 0;
  font-family: 'RalewayMedium';
  font-size: 14px;
  color: #bdab7b;
}
header#header-block .container .col-md-12 ul.links li.friends a {
  background: url('../img/svg/header-friends-ico.svg') top center no-repeat;
}
header#header-block .container .col-md-12 ul.links li.contacts a {
  background: url('../img/svg/contacts-ico.svg') top center no-repeat;
}
header#header-block .container .col-md-12 ul.links li.rules a {
  background: url('../img/svg/header-rules-ico.svg') top center no-repeat;
}
header#header-block .container .col-md-12 ul.links li.cart a {
  padding-top: 0;
}
header#header-block .container .col-md-12 ul.links li.cart a:hover {
  text-decoration: none;
}
header#header-block .container .col-md-12 ul.links li.cart a:hover span {
  text-decoration: underline;
}
header#header-block .container .col-md-12 ul.links li.cart a i {
  margin-bottom: 12px;
  font-size: 22px;
  text-align: center;
  display: block;
}
header#header-block .container .col-md-12 .time {
  margin: 7px 0 0 0;
}
header#header-block .container .col-md-12 .time .title {
  display: block;
  padding: 0 0 2px 0;
  margin: 0 0 5px 0;
  border-bottom: 1px solid rgba(189, 171, 123, 0.43);
  font-family: 'WorkSansMedium';
  font-size: 16px;
  color: #bdab7b;
}
header#header-block .container .col-md-12 .time ul li {
  font-family: 'WorkSansRegular';
}
header#header-block .container .col-md-12 .time ul li span {
  display: inline-block;
  width: 45px;
  font-family: 'WorkSansThin';
}
header#header-block .container .col-md-12 .user-area {
  float: right;
  width: 350px;
  margin: 12px 0 0 0;
}
@media screen and (max-width: 1280px) {
  header#header-block .container .col-md-12 .user-area {
    display: none;
  }
}
header#header-block .container .col-md-12 .user-area form > div {
  width: 47.76%;
}
header#header-block .container .col-md-12 .user-area form > div.pull-right {
  margin-left: 4.4776119%;
}
header#header-block .container .col-md-12 .user-area form > div .form-group {
  margin: 0;
}
header#header-block .container .col-md-12 .user-area form > div .form-group.with-bg {
  border: 1px solid #393d42;
  border-radius: 2px;
}
header#header-block .container .col-md-12 .user-area form > div .form-group.with-bg.first {
  margin: 0 0 10px 0;
}
header#header-block .container .col-md-12 .user-area form > div .form-group a {
  color: #fff;
  font-family: 'WorkSansThin';
}
header#header-block .container .col-md-12 .user-area form > div .form-group input {
  height: 25px;
  padding: 0 25px 0 10px;
  line-height: 25px;
  background: rgba(240, 240, 241, 0.1);
  background-image: url('../img/svg/header-user-ico.svg');
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #353a40;
  font-family: 'WorkSansThin';
  color: #fff;
  font-size: 14px;
  box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 2px;
  outline: none;
}
header#header-block .container .col-md-12 .user-area form > div .form-group input::-webkit-input-placeholder {
  color: #fff;
}
header#header-block .container .col-md-12 .user-area form > div .form-group input::-moz-placeholder {
  color: #fff;
}
header#header-block .container .col-md-12 .user-area form > div .form-group input:-ms-input-placeholder {
  color: #fff;
}
header#header-block .container .col-md-12 .user-area form > div .form-group input:-moz-placeholder {
  color: #fff;
}
header#header-block .container .col-md-12 .user-area form > div .form-group input:focus,
header#header-block .container .col-md-12 .user-area form > div .form-group input:hover {
  background-color: rgba(240, 240, 241, 0.15);
  -o-box-shadow: none;
  box-shadow: none;
}
header#header-block .container .col-md-12 .user-area form > div .form-group input[type="password"] {
  background-image: url('../img/svg/header-password-ico.svg');
  background-position: center right;
  background-repeat: no-repeat;
}
header#header-block .container .col-md-12 .user-area form > div .form-group input[type="submit"] {
  width: 100%;
  margin: 18px 0 0 0;
  padding: 0 0 2px 0;
  line-height: normal;
  background: #bdab7b;
  border: 1px solid #2e3339;
  font-family: 'WorkSansLight';
  color: #22292f;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  outline: none;
}
header#header-block .container .col-md-12 .user-area form > div .form-group input[type="submit"]:hover {
  background: #a7976d;
}
header#header-block .container .col-md-12 .user-area.logged {
  color: rgba(255, 255, 255, 0.6);
}
header#header-block .container .col-md-12 .user-area.logged .pull-left {
  padding-right: 0;
}
header#header-block .container .col-md-12 .user-area.logged .pull-left ul li {
  padding-left: 24px;
  margin: 0 0 5px 0;
}
header#header-block .container .col-md-12 .user-area.logged .pull-left ul li span.glyphicon {
  color: #ffffff;
  font-size: 13px;
  vertical-align: top;
  margin-top: 3px;
  margin-right: 6px;
}
header#header-block .container .col-md-12 .user-area.logged .pull-left ul li:first-child {
  font-family: 'WorkSansRegular';
}
header#header-block .container .col-md-12 .user-area.logged .pull-left ul li:last-child {
  margin: 0;
}
header#header-block .container .col-md-12 .user-area.logged .pull-right span {
  display: block;
}
header#header-block .container .col-md-12 .user-area.logged .pull-right span strong {
  font-weight: normal;
  font-family: 'WorkSansMedium';
}
header#header-block .container .col-md-12 .user-area.logged .pull-right .btn {
  width: 100%;
  height: 25px;
  line-height: 25px;
  margin-bottom: 0;
}
header#header-block .container .col-md-12 .language-block {
  position: absolute;
  right: 15px;
}
header#header-block .container .col-md-12 .language-block .dropdown-btn {
  text-transform: uppercase;
}
header#header-block .container .col-md-12 .language-block .dropdown-btn .btn.dropdown-toggle {
  padding-right: 10px;
  background: url('../img/arrow-down-white.png') center right no-repeat;
  border: 0;
  text-transform: uppercase;
  box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
header#header-block .container .col-md-12 .language-block .dropdown-btn .dropdown-menu {
  min-width: 1px;
}
header#header-block .container .col-md-12 .language-block .dropdown-btn .dropdown-menu li a {
  padding: 3px 10px;
}
header#header-block .container .col-md-12 .menu-toggle {
  position: absolute;
  top: 22px;
  right: 15px;
  margin: 11px 0 0;
  height: 30px;
  width: 35px;
  border-top: 6px solid #fff;
  border-bottom: 6px solid #fff;
  cursor: pointer;
}
@media screen and (max-width: 1280px) {
  header#header-block .container .col-md-12 .menu-toggle {
    display: inline !important;
  }
}
header#header-block .container .col-md-12 .menu-toggle:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  height: 6px;
  width: 100%;
  background: #fff;
}
header#header-block #navigation {
  margin: 15px 0 0 0;
  background: #e3e3e4;
}
header#header-block #navigation .container .row ul li {
  float: left;
}
header#header-block #navigation .container .row ul li a {
  display: block;
  padding: 0 24.5px;
  line-height: 50px;
  font-family: 'WorkSansRegular';
  font-size: 16px;
  text-transform: uppercase;
  color: #34393f;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
header#header-block #navigation .container .row ul li a .caret {
  position: absolute;
  top: 23px;
  right: 10px;
}
header#header-block #navigation .container .row ul li a:hover,
header#header-block #navigation .container .row ul li a:focus,
header#header-block #navigation .container .row ul li a:active {
  background: #fff;
  text-decoration: none;
}
header#header-block #navigation .container .row ul li.active a {
  background: #fff;
  text-decoration: none;
}
header#header-block #navigation .container .row ul li.dropdown.open {
  position: static;
}
header#header-block #navigation .container .row ul li.dropdown.open .container-fluid.dropdown-menu {
  top: 165px;
  left: 0;
  right: 0;
  border: 0;
  background: rgba(255, 255, 255, 0.77);
  border-top: 1px solid #979da3;
  border-radius: 0;
}
header#header-block #navigation .container .row ul li.dropdown.open .container-fluid.dropdown-menu .container {
  margin: 0 auto;
}
header#header-block #navigation .container .row ul li.dropdown.open .container-fluid.dropdown-menu .container .block {
  float: left;
  width: 50%;
}
header#header-block #navigation .container .row ul li.dropdown.open .container-fluid.dropdown-menu .container .block h2 {
  display: block;
  margin: 0 0 25px 0;
  padding: 15px 0 25px 0;
  background: url('../img/title-bg.png') left bottom no-repeat;
  color: #2e3238;
  font-family: 'RalewayMedium';
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
}
header#header-block #navigation .container .row ul li.dropdown.open .container-fluid.dropdown-menu .container .block ul {
  display: block;
  margin: 0 auto;
  border: 0;
  border-radius: 0;
}
header#header-block #navigation .container .row ul li.dropdown.open .container-fluid.dropdown-menu .container .block ul li {
  float: left;
  width: 50%;
  margin: 0 0 20px 0;
}
header#header-block #navigation .container .row ul li.dropdown.open .container-fluid.dropdown-menu .container .block ul li:last-child {
  margin: 0;
}
header#header-block #navigation .container .row ul li.dropdown.open .container-fluid.dropdown-menu .container .block ul li a {
  display: inline-block;
  padding: 0;
  line-height: normal;
  font-size: 16px;
  color: #2e3238;
  text-transform: none;
}
header#header-block #navigation .container .row ul li.dropdown.open .container-fluid.dropdown-menu .container .block ul li a:hover {
  background: none;
  text-decoration: underline;
}
@media screen and (max-width: 1280px) {
  header#header-block #navigation {
    position: fixed;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100% !important;
    margin: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow: auto;
    z-index: 99999;
  }
  header#header-block #navigation .container {
    width: 100%;
  }
  header#header-block #navigation .container .row .col-md-12 {
    padding: 55px 0 15px 0;
    overflow: auto;
  }
  header#header-block #navigation .container .row .col-md-12 .user-block {
    padding: 15px;
  }
  header#header-block #navigation .container .row .col-md-12 .user-block form .pull-left {
    width: 70%;
  }
  header#header-block #navigation .container .row .col-md-12 .user-block form .pull-left .form-group input {
    background: #44494e url('../img/svg/header-password-ico.svg') right center no-repeat;
    border: 0;
    color: #fff;
    border-radius: 0;
  }
  header#header-block #navigation .container .row .col-md-12 .user-block form .pull-left .form-group input:focus {
    border: 0;
    box-shadow: 0;
    -o-box-shadow: 0;
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
  }
  header#header-block #navigation .container .row .col-md-12 .user-block form .pull-left .form-group.first input {
    background: #44494e url('../img/svg/header-user-ico.svg') right center no-repeat;
  }
  header#header-block #navigation .container .row .col-md-12 .user-block form .pull-right {
    width: 27%;
  }
  header#header-block #navigation .container .row .col-md-12 .user-block form .pull-right .form-group.link a {
    color: #34393f;
    font-family: 'WorkSansRegular';
  }
  header#header-block #navigation .container .row .col-md-12 .user-block form .pull-right .form-group .btn.btn-default {
    width: 100%;
    height: 48px;
    line-height: 48px;
    margin: 0;
    font-family: 'WorkSansRegular';
  }
  header#header-block #navigation .container .row .col-md-12 .user-block.logged {
    color: #34393f;
  }
  header#header-block #navigation .container .row .col-md-12 .user-block.logged .col-md-6 {
    width: 100%;
    padding: 0;
  }
  header#header-block #navigation .container .row .col-md-12 .user-block.logged .col-md-6.pull-right {
    margin-top: 10px;
    padding: 10px 0 0 0;
    border-top: 1px solid #c5c5c5;
  }
  header#header-block #navigation .container .row .col-md-12 .user-block.logged .col-md-6 ul li {
    margin: 0 0 5px 0;
  }
  header#header-block #navigation .container .row .col-md-12 .user-block.logged .col-md-6 ul li span.glyphicon {
    display: none;
  }
  header#header-block #navigation .container .row .col-md-12 .user-block.logged .col-md-6 ul li:first-child {
    font-size: 23px;
  }
  header#header-block #navigation .container .row .col-md-12 .user-block.logged .col-md-6 ul li:first-child:after {
    content: ',';
  }
  header#header-block #navigation .container .row .col-md-12 .user-block.logged .col-md-6 ul li a {
    padding: 0;
    text-transform: none;
  }
  header#header-block #navigation .container .row .col-md-12 .container-fluid.dropdown-menu {
    border-top: 0 !important;
  }
  header#header-block #navigation .container .row .col-md-12 .container-fluid.dropdown-menu .container .block {
    width: 100% !important;
    margin: 0 0 15px 0;
  }
  header#header-block #navigation .container .row .col-md-12 .container-fluid.dropdown-menu .container .block h2 {
    font-size: 18px !important;
  }
  header#header-block #navigation .container .row .col-md-12 ul li {
    float: none !important;
    display: block;
    width: 100% !important;
  }
  header#header-block #navigation .container .row .col-md-12 ul li a {
    display: block !important;
    line-height: normal;
    padding: 12px 24.5px;
  }
  header#header-block #navigation .container .row .col-md-12 ul li.dropdown.open .dropdown-menu {
    position: static;
    float: none;
  }
  header#header-block #navigation .container .row .col-md-12 ul li.divider {
    border-bottom: 1px solid #c5c5c5;
  }
  header#header-block #navigation .container .row .col-md-12 span#close-menu {
    display: inline !important;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
    background: url('../img/close-ico.png') no-repeat;
    cursor: pointer;
  }
  header#header-block #navigation ul li {
    float: none;
    display: block;
  }
  header#header-block #navigation.active {
    right: 0;
  }
}
@media screen and (max-width: 1280px) and (max-width: 650px) {
  header#header-block #navigation {
    right: -80%;
    width: 80%;
  }
}
@media screen and (max-width: 1280px) and (max-width: 400px) {
  header#header-block #navigation {
    height: 118px;
  }
}
@media screen and (max-width: 1280px) and (max-width: 850px) {
  header#header-block #navigation .container .row .col-md-12 .user-block form .pull-left {
    width: 100%;
  }
}
@media screen and (max-width: 1280px) and (max-width: 850px) {
  header#header-block #navigation .container .row .col-md-12 .user-block form .pull-right {
    width: 100%;
  }
}
@media screen and (max-width: 1280px) and (max-width: 400px) {
  header#header-block #navigation .container .row .col-md-12 .container-fluid.dropdown-menu .container .block h2 {
    font-size: 16px !important;
  }
}
.title-bg {
  padding-bottom: 25px;
  background: url('../img/title-bg.png') left bottom no-repeat;
  color: #fff;
}
.title-sm {
  padding-bottom: 18px;
  background: url('../img/title-sm.png') left bottom no-repeat;
  color: #fff;
}
h3.text {
  position: relative;
  font-size: 32px;
  line-height: 32px;
  color: #fff;
}
h3.text small {
  position: absolute;
  margin: 0 0 0 12px;
  padding: 0 0 0 12px;
  line-height: 16px;
  border-left: 1px solid #45474c;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
}
h3.text small:before {
  content: '';
  position: absolute;
  left: -4px;
  top: 41%;
  width: 8px;
  height: 8px;
  background: url('../img/dot-ico.png') center no-repeat;
}
.btn.btn-default {
  position: relative;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin: 10px 0;
  padding: 0 8px;
  background: #bdab7b;
  border: 0;
  color: #22292f;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 0;
  outline: none;
}
.btn.btn-default:hover {
  background: #a7976d;
}
.btn.btn-default.arrow {
  padding-right: 58px;
}
.btn.btn-default.arrow:after {
  content: '>';
  position: absolute;
  right: 12px;
}
.dropdown-btn {
  position: relative;
}
.dropdown-btn .btn.dropdown-toggle {
  height: auto;
  line-height: 25px;
  margin: 0;
  padding-right: 40px;
  background: #404347 url('../img/dropdown-arrow.png') center right no-repeat;
  border: 2px solid #2f3237;
  font-family: 'WorkSansRegular';
  color: rgba(255, 255, 255, 0.51);
  outline: none;
}
.dropdown-btn .btn.dropdown-toggle:hover,
.dropdown-btn .btn.dropdown-toggle:focus {
  border: 2px solid #2f3237;
  background: #56595e url('../img/dropdown-arrow.png') center right no-repeat;
  color: rgba(255, 255, 255, 0.51);
}
.dropdown-btn .dropdown-menu {
  margin: 0;
  padding: 0;
  min-width: 137.97px;
  border: 2px solid #2f3237;
  border-top: 0;
  background: #2c2f34;
  border-radius: 0;
}
.dropdown-btn .dropdown-menu a {
  color: rgba(255, 255, 255, 0.51);
}
.dropdown-btn .dropdown-menu a:hover {
  background: #32353a;
  color: rgba(255, 255, 255, 0.51);
}
.form-block .col-md-9 {
  padding-right: 0;
}
.form-block .form-group label {
  font-weight: normal;
  font-family: 'WorkSansRegular';
  font-size: 15px;
}
.form-block .form-group label.checkbox {
  padding-left: 20px;
}
.form-block .form-group .dropdown-btn,
.form-block .form-group .dropdown-menu {
  width: 100%;
}
.form-block .form-group .dropdown-btn .btn.dropdown-toggle,
.form-block .form-group .dropdown-menu .btn.dropdown-toggle {
  width: 100%;
  text-align: left;
}
.form-block .form-group input[type="text"],
.form-block .form-group input[type="email"],
.form-block .form-group input[type="password"],
.form-block .form-group select,
.form-block .form-group textarea {
  border-radius: 0;
  outline: none;
}
.form-block .form-group input[type="text"]:active,
.form-block .form-group input[type="email"]:active,
.form-block .form-group input[type="password"]:active,
.form-block .form-group select:active,
.form-block .form-group textarea:active,
.form-block .form-group input[type="text"]:focus,
.form-block .form-group input[type="email"]:focus,
.form-block .form-group input[type="password"]:focus,
.form-block .form-group select:focus,
.form-block .form-group textarea:focus {
  box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.form-block .form-group input[type="submit"] {
  width: 100%;
}
.radio-list label {
  position: relative;
}
.radio-list label input[type=radio] {
  display: none;
}
.radio-list label:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 11px;
  height: 11px;
  background: url('../img/radio-ico.png') 0 0 no-repeat;
}
.radio-list label:hover:before,
.radio-list label.active:before {
  background-position: 0 -11px;
}
@media (max-width: 991px) {
  .cart-buttons a.btn {
    display: block;
    padding: 18px 5px;
    height: auto;
    line-height: normal;
    font-size: 16px;
  }
}
table.table {
  background: #2a2d32;
  color: #fff;
  font-size: 26.41px;
  text-align: center;
}
table.table > thead {
  background: #35383d;
}
table.table > thead tr th {
  padding: 0;
  border: 0;
  border-bottom: 1px solid #4c4e52;
  line-height: 60px;
  font-weight: normal;
  font-size: 20.54px;
  text-align: center;
  vertical-align: middle;
}
table.table > thead tr th:first-child {
  border-top-left-radius: 5px;
}
@media (min-width: 992px) {
  table.table > thead tr th.last {
    border-top-right-radius: 5px;
  }
}
table.table > thead tr th:last-child {
  border-top-right-radius: 5px;
}
table.table > tbody tr td {
  padding: 10px 5px;
  border: 0;
  line-height: normal;
  border-left: 1px solid #4c4e52;
  border-bottom: 1px solid #4c4e52;
  vertical-align: middle;
}
@media (min-width: 992px) {
  table.table > tbody tr td.last {
    border-right: 1px solid #4c4e52;
  }
}
table.table > tbody tr td:last-child {
  border-right: 1px solid #4c4e52;
}
table.small {
  background: none;
  text-align: left;
}
table.small > thead {
  background: #d6be7e;
}
table.small > thead tr th {
  padding: 0 5px;
  font-family: 'WorkSansRegular';
  line-height: 25px;
  font-size: 18px;
  color: #222427;
  text-align: left;
}
table.small > thead tr th:first-child,
table.small > thead tr th:last-child {
  border-radius: 0;
}
table.small > tbody tr td {
  padding: 5px;
  border-right: 0;
  font-size: 14px;
}
table.medium {
  background: none;
  text-align: left;
}
table.medium > thead {
  background: #d6be7e;
}
table.medium > thead tr th {
  padding: 12px 10px;
  font-family: 'WorkSansRegular';
  line-height: 25px;
  font-size: 18px;
  color: #222427;
  text-align: left;
}
table.medium > thead tr th:first-child,
table.medium > thead tr th:last-child {
  border-radius: 0;
}
table.medium > thead tr th.text-center {
  text-align: center;
}
table.medium > tbody tr td {
  padding: 14px 10px;
  border-right: 0;
  font-size: 16px;
}
table.medium > tbody tr td.text-center {
  text-align: center;
}
table.month {
  background: none;
}
table.month tbody tr td {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
table.month tbody tr td.has_content {
  background: rgba(255, 255, 255, 0.12);
  padding: 0 5px;
}
table.month tbody tr td.has_content a {
  padding: 10px 0;
  display: block;
  color: #ffffff;
}
table.month tbody tr td.has_content:hover {
  color: #26292e;
  background: #aa9969;
  cursor: pointer;
}
table.month tbody tr td.has_content:hover a {
  color: #26292e;
}
table.month tbody tr td.active {
  color: #26292e;
  background: #aa9969;
}
table.month tbody tr td.active a {
  color: #26292e;
}
table.session-time,
table.memberships,
table.cart {
  margin: 95px 0 0 0;
  text-align: left;
}
table.session-time thead tr th,
table.memberships thead tr th,
table.cart thead tr th {
  padding-left: 30px;
  text-align: left;
}
table.session-time tbody tr td,
table.memberships tbody tr td,
table.cart tbody tr td {
  padding-left: 30px;
  border-right: 0;
  font-size: 17.54px;
}
table.session-time tbody tr td:last-child,
table.memberships tbody tr td:last-child,
table.cart tbody tr td:last-child {
  padding: 0;
}
table.session-time tbody tr td:last-child a,
table.memberships tbody tr td:last-child a,
table.cart tbody tr td:last-child a,
table.session-time tbody tr td:last-child button,
table.memberships tbody tr td:last-child button,
table.cart tbody tr td:last-child button {
  display: block;
  padding: 12px 5px;
  background: #aa9969;
  color: #26292e;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
table.session-time tbody tr td:last-child a:hover,
table.memberships tbody tr td:last-child a:hover,
table.cart tbody tr td:last-child a:hover,
table.session-time tbody tr td:last-child button:hover,
table.memberships tbody tr td:last-child button:hover,
table.cart tbody tr td:last-child button:hover {
  text-decoration: none;
  background: #d2b45e;
}
table.session-time tbody tr td:last-child a.inactive,
table.memberships tbody tr td:last-child a.inactive,
table.cart tbody tr td:last-child a.inactive,
table.session-time tbody tr td:last-child button.inactive,
table.memberships tbody tr td:last-child button.inactive,
table.cart tbody tr td:last-child button.inactive {
  color: rgba(38, 41, 46, 0.25);
  pointer-events: none;
  cursor: default;
}
table.session-time tbody tr td:last-child a span,
table.memberships tbody tr td:last-child a span,
table.cart tbody tr td:last-child a span,
table.session-time tbody tr td:last-child button span,
table.memberships tbody tr td:last-child button span,
table.cart tbody tr td:last-child button span {
  display: block;
  font-size: 17.61px;
  color: rgba(38, 41, 46, 0.58);
  text-transform: none;
}
@media screen and (max-width: 992px) {
  table.session-time,
  table.memberships,
  table.cart {
    background: none;
  }
  table.session-time thead,
  table.memberships thead,
  table.cart thead {
    display: none;
  }
  table.session-time tbody tr:nth-child(2n+0),
  table.memberships tbody tr:nth-child(2n+0),
  table.cart tbody tr:nth-child(2n+0) {
    background: #323538;
  }
  table.session-time tbody tr td,
  table.memberships tbody tr td,
  table.cart tbody tr td {
    position: relative;
    float: none;
    display: block;
    width: 100% !important;
    padding: 10px 20px;
    border: 0;
    border-bottom: 1px solid #4c4e52;
    font-size: 16px;
    text-align: right;
  }
  table.session-time tbody tr td.dropdown .form-group,
  table.memberships tbody tr td.dropdown .form-group,
  table.cart tbody tr td.dropdown .form-group {
    width: 50%;
    float: right;
  }
  table.session-time tbody tr td.register,
  table.memberships tbody tr td.register,
  table.cart tbody tr td.register,
  table.session-time tbody tr td.add-to-cart,
  table.memberships tbody tr td.add-to-cart,
  table.cart tbody tr td.add-to-cart {
    border-bottom: 15px solid #26292e !important;
  }
  table.session-time tbody tr td:last-child,
  table.memberships tbody tr td:last-child,
  table.cart tbody tr td:last-child {
    border: 0;
  }
  table.session-time tbody tr td:before,
  table.memberships tbody tr td:before,
  table.cart tbody tr td:before {
    content: attr(data-title);
    float: left;
    width: 30%;
    text-align: left;
    font-family: 'RalewayMedium';
    color: #808182;
  }
  table.session-time tbody tr td:after,
  table.memberships tbody tr td:after,
  table.cart tbody tr td:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}
@media screen and (max-width: 992px) and (max-width: 370px) {
  table.session-time tbody tr td,
  table.memberships tbody tr td,
  table.cart tbody tr td {
    text-align: left;
  }
  table.session-time tbody tr td:nth-child(3),
  table.memberships tbody tr td:nth-child(3),
  table.cart tbody tr td:nth-child(3) {
    border: 0;
  }
  table.session-time tbody tr td.dropdown .form-group,
  table.memberships tbody tr td.dropdown .form-group,
  table.cart tbody tr td.dropdown .form-group {
    width: 100%;
    float: none;
  }
}
@media screen and (max-width: 992px) and (max-width: 370px) {
  table.session-time tbody tr td:before,
  table.memberships tbody tr td:before,
  table.cart tbody tr td:before {
    float: none;
    display: block;
    width: 100%;
    margin: 0 0 8px 0;
  }
}
table.memberships {
  margin-top: 0;
}
table.memberships tbody tr td {
  padding-left: 30px;
  border-right: 0;
  font-size: 17.54px;
}
@media (min-width: 993px) {
  table.memberships tbody tr td:not(:first-child) {
    padding-left: 5px;
  }
  table.memberships tbody tr td.dropdown {
    max-width: 400px;
    padding: 10px;
  }
}
table.memberships tbody tr td.dropdown .form-group {
  margin-bottom: 0;
}
table.memberships tbody tr td:last-child {
  padding: 0;
  width: 100px;
}
table.memberships tbody tr td:last-child button {
  margin: 0;
  width: 100%;
  height: auto;
  padding: 15px 5px;
}
table.memberships tbody tr td:last-child button span {
  font-size: 24px;
}
table.cart {
  margin-top: 0;
}
table.cart tbody tr td.delete {
  width: 56px;
  padding-left: 5px;
}
@media (max-width: 991px) {
  table.cart tbody tr td.delete {
    padding-left: 0;
    border-bottom: 15px solid #26292e !important;
  }
}
table.cart tbody tr td.delete button {
  margin: 0;
  padding: 0 11px;
  height: auto;
}
@media (max-width: 991px) {
  table.cart tbody tr td.delete button {
    width: 100%;
    padding: 12px 5px;
    font-size: 16px;
  }
}
table.cart tbody tr td.delete button span {
  color: inherit !important;
}
@media (max-width: 991px) {
  table.cart tbody tr td.delete button span {
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
  }
}
table.cart tbody tr td.empty {
  padding: 10px 5px 10px 30px;
}
@media (max-width: 991px) {
  table.cart tbody tr td:before {
    width: 50%;
  }
}
@media (max-width: 991px) {
  table.cart tbody tr.total td:last-child {
    padding: 10px 20px;
  }
}
table.my-info {
  margin-bottom: 30px;
  background: none;
  text-align: left;
}
table.my-info tbody tr td {
  padding: 0;
  border: 0;
}
table.my-info tbody tr td:first-child {
  font-size: 20px;
  color: #fff;
}
table.my-info tbody tr td:nth-child(2) {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.38);
}
table.my-info tbody tr td:last-child {
  border: 0;
}
table.my-info tbody tr td:last-child a {
  display: block;
  color: #fff;
  font-size: 16px;
}
@media screen and (max-width: 555px) {
  table.my-info thead {
    display: none;
  }
  table.my-info tbody tr:nth-child(2n+0) {
    background: #323538;
  }
  table.my-info tbody tr td {
    position: relative;
    float: none;
    display: block;
    width: 100% !important;
    padding: 10px 20px;
    border: 0;
    color: #fff;
    font-size: 16px;
    text-align: right;
  }
  table.my-info tbody tr td:first-child,
  table.my-info tbody tr td:nth-child(3) {
    display: none;
  }
  table.my-info tbody tr td:before {
    content: attr(data-title);
    float: left;
    width: 30%;
    text-align: left;
    font-family: 'RalewayMedium';
    color: #808182;
  }
  table.my-info tbody tr td:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}
table.my-activity {
  margin: 0;
  background: none;
  text-align: left;
}
table.my-activity tbody tr td {
  padding: 0 0 20px 0;
  border: 0;
  font-size: 17.78px;
  color: #fff;
}
table.my-activity tbody tr td:first-child {
  color: rgba(255, 255, 255, 0.36);
}
table.my-activity tbody tr td:last-child {
  border: 0;
}
@media screen and (max-width: 555px) {
  table.my-activity thead {
    display: none;
  }
  table.my-activity tbody tr:nth-child(2n+0) {
    background: #323538;
  }
  table.my-activity tbody tr td {
    position: relative;
    float: none;
    display: block;
    width: 100% !important;
    padding: 10px 20px;
    border: 0;
    border-bottom: 1px solid #4c4e52;
    color: #fff;
    font-size: 16px;
    text-align: right;
  }
  table.my-activity tbody tr td:first-child {
    color: #fff;
  }
  table.my-activity tbody tr td:before {
    content: attr(data-title);
    float: left;
    width: 30%;
    text-align: left;
    font-family: 'RalewayMedium';
    color: #808182;
  }
  table.my-activity tbody tr td:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}
@media screen and (max-width: 555px) and (max-width: 370px) {
  table.my-activity tbody tr td {
    text-align: left;
  }
}
@media screen and (max-width: 555px) and (max-width: 370px) {
  table.my-activity tbody tr td:before {
    float: none;
    display: block;
    width: 100%;
    margin: 0 0 8px 0;
  }
}
table.timetable thead tr th span {
  text-transform: capitalize;
}
table.timetable tbody tr td {
  line-height: 80px;
  white-space: nowrap;
  padding: 0 20px;
  border-right: 0;
  font-size: 17.54px;
}
table.timetable tbody tr td.inactive {
  background-color: rgba(255, 255, 255, 0.12);
  opacity: 0.2;
}
@media screen and (max-width: 1200px) {
  .table-responsive {
    border: 2px solid #4c4e52;
  }
  .table-responsive table thead tr th:first-child {
    border-radius: 0;
  }
}
@media screen and (max-width: 992px) {
  .table-responsive table {
    font-size: 18.54px;
  }
  .table-responsive table thead tr th {
    padding: 15px;
    line-height: normal;
    font-size: 18.54px;
  }
}
.inner-page .form-block .col-md-9 {
  padding-right: 15px;
}
.inner-page section .page-header {
  padding: 0;
  margin: 0;
  border: 0;
}
.inner-page section .page-header .title-bg {
  margin: 0 0 20px 0;
  font-size: 32px;
  text-transform: uppercase;
}
.inner-page section.hero {
  padding-bottom: 0;
  min-height: 550px;
}
@media screen and (max-width: 768px) {
  .inner-page section.hero {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .inner-page section.hero {
    min-height: 1px;
    margin: 0 0 60px 0;
  }
}
@media screen and (min-width: 751px) {
  .inner-page section.hero {
    min-height: 284px;
    padding-top: 70px;
  }
}
@media screen and (min-width: 751px) {
  .inner-page section.hero .col-md-10 nav {
    margin-bottom: 70px;
  }
}
.inner-page section.hero .col-md-10 h1 {
  display: none;
}
.inner-page section.hero + section {
  margin-top: 40px;
}
section.hero {
  padding: 105px 0 30px 0;
  background: url('../img/hero-bg.jpg') top center no-repeat;
}
section.hero .app-login {
  display: block;
  width: 100%;
  margin: 40px 0;
  padding: 0 15px;
}
@media screen and (max-width: 750px) {
  section.hero .app-login {
    background: rgba(38, 41, 46, 0.7);
  }
}
section.hero .app-login a {
  display: inline-block;
  position: relative;
  height: auto;
  margin: 0;
  padding: 10px 0;
  line-height: normal;
  background: rgba(38, 41, 46, 0.7);
  font-family: 'RalewayMedium';
  color: #fff;
  font-size: 18px;
}
@media screen and (max-width: 750px) {
  section.hero .app-login a {
    background: none;
  }
}
section.hero .app-login a i.svg {
  float: left;
  width: 65px;
  height: 65px;
  background: url('../img/svg/smartphone.svg') center no-repeat;
  background-size: 100%;
}
section.hero .app-login a div {
  padding: 12px 0 0 0;
}
@media screen and (max-width: 366px) {
  section.hero .app-login a div {
    font-size: 17px;
  }
}
@media screen and (max-width: 351px) {
  section.hero .app-login a div {
    padding: 5px 0 0 0;
  }
}
@media screen and (min-width: 1819px) {
  section.hero {
    background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
  }
}
@media screen and (max-width: 750px) {
  section.hero {
    background: url('../img/hero-bg-mob.png') top center no-repeat;
    background-size: 100%;
  }
}
@media screen and (max-width: 992px) {
  section.hero .col-md-10 {
    float: none;
    display: block;
    width: 100%;
  }
}
section.hero .col-md-10 nav ul li {
  float: left;
  margin: 0 13px 0 0;
  text-align: center;
}
section.hero .col-md-10 nav ul li:last-child {
  margin: 0;
}
section.hero .col-md-10 nav ul li a {
  position: relative;
  display: block;
  width: 171px;
  height: 144px;
  padding: 105px 30px 0 30px;
  background: #b9af93 url('../img/svg/hero-nav-services.svg') center 36px no-repeat;
  font-family: 'WorkSansLight';
  font-size: 16px;
  text-transform: uppercase;
  line-height: normal;
  color: #fff;
  text-decoration: none;
}
section.hero .col-md-10 nav ul li a:before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 1px solid transparent;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
section.hero .col-md-10 nav ul li a:hover:before {
  border: 1px solid #fff;
}
section.hero .col-md-10 nav ul li.prices a {
  background: #ddcb99 url('../img/svg/hero-nav-prices.svg') center 30px no-repeat;
}
section.hero .col-md-10 nav ul li.user-zone a {
  padding-top: 95px;
  background: #bdab7b url('../img/svg/hero-nav-user-zone.svg') center 30px no-repeat;
}
section.hero .col-md-10 nav ul li.calendar a {
  padding-top: 95px;
  background: #d4b29c url('../img/svg/hero-nav-calendar.svg') center 30px no-repeat;
}
@media screen and (max-width: 992px) {
  section.hero .col-md-10 nav ul {
    text-align: center;
  }
  section.hero .col-md-10 nav ul li {
    float: none;
    display: inline-block;
    margin: 0 1.04% 0 0;
    vertical-align: top;
  }
}
@media screen and (max-width: 750px) {
  section.hero .col-md-10 nav ul li {
    float: left;
    width: 49%;
    margin: 0 2% 2% 0;
  }
  section.hero .col-md-10 nav ul li:nth-child(2n+0) {
    margin-right: 0;
  }
  section.hero .col-md-10 nav ul li a {
    width: 100%;
    padding: 105px 10px 0 10px;
  }
}
@media screen and (max-width: 285px) {
  section.hero .col-md-10 nav ul li {
    float: none;
    width: 100%;
    margin: 0 0 2% 0;
  }
  section.hero .col-md-10 nav ul li:nth-child(2n+0) {
    margin-right: 0;
  }
}
section.hero .col-md-10 h1 {
  margin: 45px 0 0 0;
  font-weight: normal;
  font-family: 'WorkSansLight';
  font-size: 46px;
}
@media screen and (max-width: 992px) {
  section.hero .col-md-10 h1 {
    background: none;
    text-align: center;
  }
}
@media screen and (max-width: 750px) {
  section.hero .col-md-10 h1 {
    font-size: 35px;
    border-bottom: 1px solid #44474b;
  }
}
@media screen and (max-width: 378px) {
  section.hero .col-md-10 h1 {
    font-size: 30px;
    line-height: normal;
  }
}
section.hero .col-md-10 h1 strong {
  color: #d0b775;
  font-family: 'WorkSansMedium';
  text-shadow: 0 1px 0 #3f3e3e;
  text-transform: uppercase;
}
section.hero .col-md-12 {
  margin: 100px 0 0 0;
}
@media screen and (max-width: 750px) {
  section.hero .col-md-12 {
    margin: 30px 0 0 0;
  }
}
section.hero .col-md-12 ul li {
  float: left;
  width: 33.05660377358491%;
  margin: 0 0.37735849056603776% 0 0;
}
section.hero .col-md-12 ul li:last-child {
  margin: 0;
}
section.hero .col-md-12 ul li .image {
  text-align: center;
}
section.hero .col-md-12 ul li .image a {
  position: relative;
  display: block;
}
section.hero .col-md-12 ul li .image a img {
  display: inline-block;
  max-width: 100%;
}
section.hero .col-md-12 ul li .image a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(210, 169, 142, 0.69);
  background-image: url('../img/more-hover-ico.png');
  background-position: center;
  background-repeat: no-repeat;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
section.hero .col-md-12 ul li .image a:hover:before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
section.hero .col-md-12 ul li h2 {
  margin: 10px 0;
  font-weight: normal;
  font-family: 'WorkSansThin';
  font-size: 24px;
  text-transform: uppercase;
}
section.hero .col-md-12 ul li .text {
  height: 120px;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  section.hero .col-md-12 ul li {
    float: none;
    display: block;
    width: 100%;
    margin: 0 0 3% 0;
  }
  section.hero .col-md-12 ul li:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
  section.hero .col-md-12 ul li .image {
    float: left;
    width: 29.8%;
    margin: 0 3% 0 0;
  }
  section.hero .col-md-12 ul li .text-block {
    float: left;
    width: 67.2%;
  }
  section.hero .col-md-12 ul li .text-block h2 {
    margin-top: 0;
  }
  section.hero .col-md-12 ul li .text-block .text {
    height: auto;
  }
}
@media screen and (max-width: 992px) {
  section.hero .col-md-12 ul li {
    margin: 0;
    padding: 30px 0;
    border-top: 1px solid #44474b;
  }
  section.hero .col-md-12 ul li .image {
    width: 36.8%;
  }
  section.hero .col-md-12 ul li .text-block {
    width: 60.2%;
  }
  section.hero .col-md-12 ul li .btn {
    margin: 25px 0 0 0;
  }
}
@media screen and (max-width: 750px) {
  section.hero .col-md-12 ul li:first-child {
    border-top: 0;
  }
}
@media screen and (max-width: 620px) {
  section.hero .col-md-12 ul li .image,
  section.hero .col-md-12 ul li .text-block {
    float: none;
    width: 100%;
    text-align: center;
  }
  section.hero .col-md-12 ul li .image a {
    display: inline-block;
  }
  section.hero .col-md-12 ul li .text-block h2 {
    margin: 20px 0;
    padding: 0;
    background: none;
  }
  section.hero .col-md-12 ul li .text-block .text {
    text-align: justify;
    font-size: 16px;
  }
  section.hero .col-md-12 ul li .btn {
    width: 50%;
    padding: 0;
    font-size: 15px;
    text-align: center;
  }
  section.hero .col-md-12 ul li .btn:after {
    content: normal;
  }
}
@media screen and (max-width: 465px) {
  section.hero .col-md-12 ul li .btn {
    width: 100%;
  }
}
section.articles {
  padding: 40px 0 70px 0;
  background: #292c31;
}
@media screen and (max-width: 1200px) {
  section.articles .col-md-6 {
    float: none;
    width: 100%;
  }
  section.articles .col-md-6.coach-advises {
    margin-top: 50px;
  }
}
@media screen and (max-width: 992px) {
  section.articles {
    padding: 40px 0 0 0;
  }
}
@media screen and (max-width: 620px) {
  section.articles .col-md-6.coach-advises {
    margin-top: 0;
    border-top: 1px solid #44474b;
    padding-top: 35px;
  }
}
section.articles h3 {
  margin: 0 0 15px 0;
  font-weight: normal;
  font-size: 32px;
  text-transform: uppercase;
}
@media screen and (max-width: 620px) {
  section.articles h3 {
    text-align: center;
    background-position: bottom center !important;
  }
}
@media screen and (max-width: 300px) {
  section.articles h3 {
    font-size: 26px;
  }
}
section.articles article {
  margin: 0 0 45px 0;
}
section.articles article:last-child {
  margin: 0;
}
@media screen and (max-width: 992px) {
  section.articles article {
    margin: 0;
    padding: 30px 0;
    border-bottom: 1px solid #44474b;
  }
  section.articles article:last-child {
    border: 0;
  }
}
section.articles article .pull-left {
  width: 45.559845%;
}
@media screen and (max-width: 1200px) {
  section.articles article .pull-left {
    width: 30.559845%;
  }
}
@media screen and (max-width: 620px) {
  section.articles article .pull-left {
    width: 100%;
    text-align: center;
  }
  section.articles article .pull-left a {
    display: inline-block !important;
  }
}
section.articles article .pull-left a {
  position: relative;
  display: block;
}
section.articles article .pull-left a img {
  max-width: 100%;
  border: 4px solid #54565a;
}
section.articles article .pull-left a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(210, 169, 142, 0.69);
  background-image: url('../img/more-hover-ico.png');
  background-position: center;
  background-repeat: no-repeat;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
section.articles article .pull-left a:hover:before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
section.articles article .pull-right {
  width: 54.440155%;
  padding-left: 2.31660231%;
}
section.articles article .pull-right header {
  margin: 0 0 10px 0;
  font-family: 'WorkSansRegular';
  font-size: 18px;
}
section.articles article .pull-right header a {
  color: #fff;
}
section.articles article .pull-right p {
  margin: 0;
}
section.articles article .pull-right footer {
  margin: 10px 0 0 0;
}
section.articles article .pull-right footer .read-more {
  float: left;
  color: #fff;
}
section.articles article .pull-right footer time {
  float: right;
  font-style: italic;
}
@media screen and (max-width: 1200px) {
  section.articles article .pull-right {
    width: 69.440155%;
  }
}
@media screen and (max-width: 620px) {
  section.articles article .pull-right {
    width: 100%;
  }
  section.articles article .pull-right header {
    margin: 20px 0;
    padding: 0;
    background: none;
    text-align: center;
  }
  section.articles article .pull-right p {
    text-align: justify;
    font-size: 16px;
  }
  section.articles article .pull-right footer {
    margin: 20px 0 0 0;
  }
}
section.articles .pagination {
  display: block;
  margin: 0;
  padding: 30px 0 0 0;
  border-top: 1px solid #44474b;
  border-radius: 0;
}
@media screen and (max-width: 1200px) {
  section.articles .pagination {
    margin: 30px 0 0 0;
  }
}
section.articles .pagination ul {
  text-align: center;
}
section.articles .pagination ul li {
  display: inline-block;
  margin: 0 0 0 1.04%;
}
section.articles .pagination ul li:first-child {
  margin: 0;
}
section.articles .pagination ul li a,
section.articles .pagination ul li span {
  display: block;
  line-height: 20px;
  min-width: 20px;
  background: #3c3c39;
  color: #7a7c7f;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 50%;
}
section.articles .pagination ul li:hover a,
section.articles .pagination ul li.active a,
section.articles .pagination ul li:hover span,
section.articles .pagination ul li.active span {
  background: #6b6244;
  color: rgba(0, 0, 0, 0.89);
  text-decoration: none;
}
section.articles.news {
  padding: 0 0 70px 0;
  background: none;
}
section.articles.news .articles-list article {
  float: left;
  width: 47.17%;
  margin: 0 5.66% 45px 0;
}
section.articles.news .articles-list article:nth-child(2n+0) {
  margin-right: 0;
}
@media screen and (max-width: 1200px) {
  section.articles.news .articles-list article {
    float: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
  }
}
section.information ul.list {
  display: inline-block;
  margin: 0 0 20px 0;
}
section.information ul.list li {
  padding: 0 0 0 15px;
  background: url('../img/dot-ico.png') left center no-repeat;
}
section.information .content ul {
  display: inline-block;
  margin: 0 0 20px 0;
}
section.information .content ul li {
  padding: 0 0 0 15px;
  background: url('../img/dot-ico.png') left center no-repeat;
}
section.information .content .thumbnail {
  float: left;
  margin-right: 20px;
  margin-bottom: 0;
}
section.information article footer a {
  color: #fff;
  text-decoration: underline;
}
section.information article footer a:hover {
  text-decoration: none;
}
section.information h1,
section.information h2,
section.information h3,
section.information h4,
section.information h5 {
  padding-bottom: 25px;
  background: url('../img/title-bg.png') left bottom no-repeat;
  color: #fff;
}
section.sessions .choose-date .info-text,
section.timetable .choose-date .info-text {
  margin: 0;
  font-size: 23.47px;
  color: #fff;
}
section.sessions .choose-date .time,
section.timetable .choose-date .time {
  min-height: 60px;
}
section.sessions .choose-date time,
section.timetable .choose-date time {
  display: block;
  font-size: 35.21px;
  color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
section.sessions .choose-date .prev-url,
section.timetable .choose-date .prev-url,
section.sessions .choose-date .next-url,
section.timetable .choose-date .next-url {
  background-color: transparent;
  color: #ffffff;
}
@media screen and (max-width: 992px) {
  section.sessions .choose-date .info-text,
  section.timetable .choose-date .info-text,
  section.sessions .choose-date time,
  section.timetable .choose-date time {
    display: block;
    font-size: 18px;
    text-align: center;
  }
  section.sessions .choose-date .time,
  section.timetable .choose-date .time {
    min-height: 77px;
  }
  section.sessions .choose-date time,
  section.timetable .choose-date time {
    margin: 20px 0;
    font-size: 26px;
  }
  section.sessions .choose-date .prev-url,
  section.timetable .choose-date .prev-url,
  section.sessions .choose-date .next-url,
  section.timetable .choose-date .next-url {
    margin: 21px 0;
  }
}
section.timetable .choose-date time {
  white-space: nowrap;
  font-size: 28px;
}
@media (min-width: 993px) {
  section.timetable .choose-date time {
    top: 8px;
  }
}
section.timetable .content {
  margin-top: 40px;
}
section.user-zone .user-info,
section.user-zone .user-activity {
  width: 50%;
}
section.user-zone .btn.btn-default {
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0 30px;
  font-family: 'WorkSansLight';
  font-size: 17px;
  border-radius: 5px;
}
section.user-zone .name,
section.user-zone .table-title {
  display: block;
  margin: 0 0 20px 0;
  font-size: 24px;
  color: #fff;
}
section.user-zone .name a {
  margin: 0 0 0 17px;
  color: #fff;
  font-size: 16px;
}
section.user-zone .account-balance {
  margin: 0 0 40px 0;
}
section.user-zone .account-balance .wrapper {
  float: left;
  padding: 0 60px 0 0;
  margin: 0 55px 0 0;
  line-height: 49px;
  background: #2a2d32;
  font-size: 17px;
  border-radius: 5px;
}
section.user-zone .account-balance .wrapper span {
  display: inline-block;
  padding: 0 68px 0 45px;
  margin: 0 30px 0 0;
  background: #35383d;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
}
@media screen and (max-width: 1200px) {
  section.user-zone .user-info .btn.btn-default {
    margin-top: 15px;
  }
}
@media screen and (max-width: 992px) {
  section.user-zone .user-info,
  section.user-zone .user-activity {
    width: 100%;
  }
  section.user-zone .user-info .account-balance .wrapper {
    margin: 0 10px 0 0;
  }
  section.user-zone .user-info .account-balance .btn.btn-default {
    margin-top: 0;
  }
  section.user-zone .user-activity {
    margin: 50px 0 0 0;
    padding: 30px 0 0 0;
    border-top: 1px solid #44474b;
  }
}
@media screen and (max-width: 561px) {
  section.user-zone .account-balance .wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  section.user-zone .account-balance .wrapper span {
    margin: 0 15px 0 0;
  }
  section.user-zone .btn.btn-default {
    margin-top: 10px !important;
    width: 100%;
    height: 35px;
    line-height: 35px;
  }
}
section.gallery ul.galeries-list li {
  float: left;
  width: 32.83018867924528%;
  margin: 0 0.7547169811320755% 0.7547169811320755% 0;
}
section.gallery ul.galeries-list li:nth-child(3n+0) {
  margin-right: 0;
}
section.gallery ul.galeries-list li a {
  position: relative;
  display: block;
}
section.gallery ul.galeries-list li a img {
  width: 100%;
}
section.gallery ul.galeries-list li a span {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 18px 5px 15px 5px;
  background: rgba(255, 255, 255, 0.71);
  color: #26292e;
  font-family: 'WorkSansRegular';
  font-size: 13.48px;
  text-transform: uppercase;
  text-align: center;
}
section.gallery ul.galeries-list li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(255, 255, 255, 0.71);
  background-image: url('../img/gallery-view-ico.png');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
section.gallery ul.galeries-list li a:hover:before {
  opacity: 1;
}
@media screen and (max-width: 750px) {
  section.gallery ul.galeries-list li {
    width: 48.5%;
    margin: 0 1.5% 1.5% 0;
  }
  section.gallery ul.galeries-list li:nth-child(2n+0) {
    margin-right: 0;
  }
  section.gallery ul.galeries-list li:nth-child(3n+0) {
    margin-right: 1.5%;
  }
}
@media screen and (max-width: 430px) {
  section.gallery ul.galeries-list li {
    float: none;
    width: 100%;
    margin: 0 0 3% 0;
  }
}
section.gallery ul.galeries-list.preview a:before {
  background: rgba(221, 203, 153, 0.85);
  background-image: url('../img/zoom-ico.png');
  background-position: center;
  background-repeat: no-repeat;
}
section.gallery .text-uppercase,
section.gallery a.back {
  font-size: 17.58px;
}
section.gallery .carousel .carousel-inner .item {
  text-align: center;
}
section.gallery .carousel .carousel-inner .item img {
  display: inline-block;
  max-width: 1100px;
  height: auto;
}
@media screen and (max-width: 1200px) {
  section.gallery .carousel .carousel-inner .item img {
    max-width: 100%;
  }
}
section.gallery .carousel .left.carousel-control {
  background: url('../img/carousel-prev.png') left center no-repeat;
}
@media screen and (max-width: 1200px) {
  section.gallery .carousel .left.carousel-control {
    left: 2%;
  }
}
section.gallery .carousel .right.carousel-control {
  background: url('../img/carousel-next.png') right center no-repeat;
}
@media screen and (max-width: 1200px) {
  section.gallery .carousel .right.carousel-control {
    right: 2%;
  }
}
section.gallery a.back {
  display: inline-block;
  margin: 20px 0 0 68px;
}
@media screen and (max-width: 1200px) {
  section.gallery a.back {
    margin-left: 0;
  }
}
.ajax-form .errors,
.ajax-form .message {
  font-size: 13px;
  display: none;
  margin-bottom: -6px;
}
@media screen and (min-width: 400px) {
  .ajax-form .errors,
  .ajax-form .message {
    white-space: nowrap;
  }
}
.ajax-form .errors {
  color: #a94442;
}
.ajax-form .message {
  color: #4caf50;
}
footer.main-footer {
  margin: 50px 0 0 0;
}
footer.main-footer .logos {
  padding: 60px 0;
  background: #323538;
}
@media screen and (max-width: 660px) {
  footer.main-footer .logos {
    padding: 30px 0;
  }
}
footer.main-footer .logos .container ul {
  text-align: center;
}
footer.main-footer .logos .container ul li {
  display: inline-block;
  margin: 0 7.3018867% 0 0;
}
@media screen and (max-width: 1200px) {
  footer.main-footer .logos .container ul li {
    width: 19%;
    padding: 0 1.5%;
    margin: 0;
  }
  footer.main-footer .logos .container ul li a {
    vertical-align: middle;
  }
  footer.main-footer .logos .container ul li a img {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 660px) {
  footer.main-footer .logos .container ul li {
    width: 25%;
    padding: 1.5%;
  }
}
@media screen and (max-width: 500px) {
  footer.main-footer .logos .container ul li {
    width: 45%;
    padding: 1.5%;
  }
}
footer.main-footer .logos .container ul li:last-child {
  margin: 0;
}
footer.main-footer .logos .container ul li a {
  display: block;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
footer.main-footer .logos .container ul li a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -moz-opacity: .6;
  -khtml-opacity: .6;
  opacity: .6;
}
footer.main-footer .info-block {
  padding: 50px 0;
}
footer.main-footer .info-block .row > .col-md-5 ul {
  padding: 0 6.560283687943262% 0 0;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}
footer.main-footer .info-block .row > .col-md-5 ul li {
  margin: 0 0 5px 0;
}
footer.main-footer .info-block .row > .col-md-5 ul li:last-child {
  margin: 0;
}
footer.main-footer .info-block .row > .col-md-5 ul:last-child {
  padding: 0 0 0 6.560283687943262%;
  border: 0;
}
footer.main-footer .info-block .row > .col-md-7 .col-md-4.contacts ul li {
  margin: 0 0 15px 0;
}
footer.main-footer .info-block .row > .col-md-7 .col-md-4.contacts ul li:last-child {
  margin: 0;
}
footer.main-footer .info-block .row > .col-md-7 .col-md-4.contacts ul li a {
  display: inline-block;
  padding: 0 0 0 35px;
  color: #b6a16a;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
footer.main-footer .info-block .row > .col-md-7 .col-md-4.contacts ul li a:hover {
  color: rgba(182, 161, 106, 0.7);
}
footer.main-footer .info-block .row > .col-md-7 .col-md-4.contacts ul li.email a {
  line-height: 16px;
  background: url('../img/svg/contacts-ico.svg') left center no-repeat;
}
footer.main-footer .info-block .row > .col-md-7 .col-md-4.contacts ul li.phone a {
  line-height: 20px;
  background: url('../img/svg/footer-phone-ico.svg') left center no-repeat;
}
footer.main-footer .info-block .row > .col-md-7 .col-md-4.contacts ul li.fb a {
  line-height: 21px;
  background: url('../img/svg/footer-fb-ico.svg') left center no-repeat;
}
footer.main-footer .info-block .row > .col-md-7 .col-md-4:nth-child(2) {
  padding-left: 0;
}
@media screen and (max-width: 1200px) {
  footer.main-footer .info-block .row > .col-md-7 .col-md-4:nth-child(2) {
    float: right;
  }
}
footer.main-footer .info-block .row > .col-md-7 .col-md-4:nth-child(2) form label {
  font-family: 'WorkSansMedium';
  font-weight: normal;
  font-size: 13px;
  color: #b6a16a;
  text-transform: uppercase;
}
footer.main-footer .info-block .row > .col-md-7 .col-md-4:nth-child(2) form .form-group {
  margin: 0;
  border: 1px solid #323436;
}
footer.main-footer .info-block .row > .col-md-7 .col-md-4:nth-child(2) form .form-group input[type="email"],
footer.main-footer .info-block .row > .col-md-7 .col-md-4:nth-child(2) form .form-group input[type="text"] {
  height: 33px;
  width: 100%;
  padding: 0 0 0 10px;
  background: rgba(240, 240, 241, 0.1);
  border: 1px solid #232629;
}
footer.main-footer .info-block .row > .col-md-7 .col-md-4:nth-child(2) form .form-group.submit {
  margin: 8px 0 0 0;
  border: 1px solid #505356;
}
footer.main-footer .info-block .row > .col-md-7 .col-md-4:nth-child(2) form .form-group.submit .btn {
  width: 100%;
  height: 33px;
  line-height: 33px;
  margin: 0;
  border: 1px solid #2b2f35;
  outline: none;
}
footer.main-footer .info-block .row > .col-md-7 .col-md-4:last-child {
  color: #b6a16a;
}
footer.main-footer .info-block .row > .col-md-7 .col-md-4:last-child p {
  font-family: 'WorkSansMedium';
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  footer.main-footer .info-block .row > .col-md-5,
  footer.main-footer .info-block .row > .col-md-7 {
    float: none;
    display: block;
    width: 100%;
  }
  footer.main-footer .info-block .row > .col-md-5 {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #44474b;
  }
  footer.main-footer .info-block .row > .col-md-5 ul.pull-left {
    width: 100%;
    padding: 0;
    border: 0;
    text-align: center;
  }
  footer.main-footer .info-block .row > .col-md-5 ul.pull-left li {
    display: inline-block;
    padding: 0 10px 0 0;
    margin: 0;
  }
  footer.main-footer .info-block .row > .col-md-5 ul.pull-left li a {
    font-size: 15px;
  }
  footer.main-footer .info-block .row > .col-md-5 ul.pull-left li:after {
    content: '/';
    margin: 0 0 0 10px;
  }
  footer.main-footer .info-block .row > .col-md-5 ul.pull-left:last-child li:last-child:after {
    content: normal;
  }
}
@media screen and (max-width: 992px) {
  footer.main-footer .info-block .row > .col-md-7 .col-md-4 {
    float: left;
  }
}
@media screen and (max-width: 660px) {
  footer.main-footer .info-block .row > .col-md-7 .col-md-4 {
    width: 100%;
    padding: 0 15px !important;
    text-align: center;
  }
  footer.main-footer .info-block .row > .col-md-7 .col-md-4 a {
    font-family: 'WorkSansRegular';
    font-size: 16px;
  }
  footer.main-footer .info-block .row > .col-md-7 .col-md-4.contacts {
    margin-bottom: 20px;
  }
  footer.main-footer .info-block .row > .col-md-7 .col-md-4.contacts ul li {
    display: inline-block;
    margin: 0 3% 3% 0;
  }
  footer.main-footer .info-block .row > .col-md-7 .col-md-4 form label {
    width: 100%;
    font-size: 15px !important;
  }
  footer.main-footer .info-block .row > .col-md-7 .col-md-4 form .form-group input[type="email"],
  footer.main-footer .info-block .row > .col-md-7 .col-md-4 form .form-group input[type="text"] {
    text-align: center;
  }
  footer.main-footer .info-block .row > .col-md-7 .col-md-4:last-child {
    margin: 30px 0 0 0;
    font-size: 15px;
  }
  footer.main-footer .info-block .row > .col-md-7 .col-md-4:last-child p {
    font-size: 17px;
    margin-bottom: 5px;
  }
}
footer.main-footer > .container-fluid {
  line-height: 45px;
  background: #b7a26a;
  color: #26292e;
  font-family: 'WorkSansRegular';
}
@media screen and (max-width: 450px) {
  footer.main-footer > .container-fluid {
    padding: 12px 0;
    line-height: normal;
  }
}
#nav-overlay.active {
  display: inline !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

/*# sourceMappingURL=style.css.map */
